<%= form_for([:admin, @site, @page || @site.pages.new]) do |f| %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :class=>"long #{'error' if @page.errors[:title] && action_name != 'new'}" %>
    <%= errors_for @page, :title %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.label :permalink %>
    <%= f.text_field :permalink, :class=>"long #{'error' if @page.errors[:permalink] && action_name != 'new'}" %>
    <%= errors_for @page, :permalink %>
  </div>

  <div class="field">
    <%= f.label :highlighted %>
    <%= f.check_box :highlighted %>
  </div>

  <div class="field">
    <%= f.submit 'Save', :class => "#{'error' if @page.invalid? && action_name != 'new'}" %>
  </div>

<% end -%>