<%= form_for page_resources, :url => create_or_update_pages_path_for_home_or_site do |f| %>

  <div class="field">
    <%= f.label :title, raw("TITLE  <strong>*</strong>") %>
    <%= f.text_field :title, :class=>"long #{'error' if !@page.errors[:title].empty? && action_name != 'new'}" %>
    <%= errors_for @page, :title %>
  </div>

  <div class="long_field">
    <span class="chars">
      <%= f.label :body, raw("BODY  <strong>*</strong>") %>
      <p class="html"><a href="#" id="show_html">Show HTML</a></p>
    </span>
    <%= f.text_area :body, :class=>"huge richeditor #{'error' if !@page.errors[:body].empty? && action_name != 'new'}",:cols=>"50", :rows=>"15", :id=>"txtDefaultHtmlArea" %>
  </div>


  <div class="field">
    <%= f.label :permalink %>
    <%= f.text_field :permalink, :class=>"long #{'error' if !@page.errors[:permalink].empty? && action_name != 'new'}" %>
    <%= errors_for @page, :permalink %>
  </div>

  <% if @site.present? -%>
  <div class="field">
    <%= f.label :parent_id, 'Parent page' %>

    <span id="parent_page" class="parent_page">
      <p>Select a parent page</p>
      <ul class="options">
        <li>Select a parent page</li>
        <li><a id="0">None</a></li>
        <% (@all_pages - [@page]).collect do |sector| %>
          <li><a id="<%= sector.id %>"><%= sector.title %></a></li>
        <% end %>
        <li class="last"></li>
      </ul>
    </span>

    <%= f.select :parent_id, (@all_pages - [@page]).collect{ |p| [p.title, p.id] }, :prompt => 'Select a parent page', :include_blank => 'None' %>
  </div>
  <% end -%>

  <div id="published_status" class="field">
    <%= f.label :published %>
    <%= f.hidden_field :published , :value => (@page.published? ? '1' : '0') %>
    <span>
      <a id="0" class="combo">Draft</a>
    </span>
    <span>
      <a id="1" class="combo">Published (visible on the public site)</a>
    </span>
  </div>

  <%= f.submit 'Save', :class => "#{'error' if @page.invalid? && action_name != 'new'}" %>

<% end -%>
