<h2>Pages from <%= @site.name %></h2>

<div class="main">
  <p><%= link_to('+ new page', new_admin_site_page_path(@site)) %></p>

  <ul>
    <% @pages.each do |page| %>
      <li><%= link_to(page.title, edit_admin_site_page_path(@site, page.id)) %> - <%= link_to("Delete", admin_site_page_path(@site, page.id), :method => :delete, :confirm => '¿Are you sure?') %>
      <% unless page.children.empty? %>
      <ul>
        <% page.children.each do |children| %>
        <li>-- <%= link_to(children.title, edit_admin_site_page_path(@site, children.id)) %> - <%= link_to("Delete", admin_site_page_path(@site, children.id), :method => :delete, :confirm => '¿Are you sure?') %></li>
        <% end %>
      </ul>
      <% end %>
      </li>
    <% end -%>
  </ul>

  <%= will_paginate(@pages) %>

  <p><%= link_to("⟵ back to #{@site.name}", edit_admin_site_path(@site)) %></p>
</div>


<div class="right menu">
  <%= render 'admin/sites/sidebar' %>
</div>
