
    <div class="main_layout">
      <div class="block first edit">
        <div class="top"></div>
        <div class="med">
          <div class="left">
            <h2 class="museo_sans"><%= home_or_site %> pages</h2>
            <p><%= pluralize(@pages.count, 'page','pages') %></p>
            <ul class="pages">
              <% @pages.each do |page| %>
                <li>
                  <div class="head <%= page.children.empty? ? 'one' :'more' %>">
                    <h3><%= link_to(page.title, edit_page_path_for_home_or_site(page)) %></h3>
                    <%= link_to("Delete", '#delete' ,:class=>"delete", :destroy_url=>page_path_for_home_or_site(page), :att_name=>"page") %>
                  </div>
                  <% if !page.children.empty? %>
                    <div class="body">
                      <% page.children.each do |children| %>
                        <span>
                          <%= link_to(children.title, edit_page_path_for_home_or_site(children)) %>
                          <%= link_to("Delete", '#delete', :destroy_url => page_path_for_home_or_site(children), :att_name=>"subpage", :class=>"delete") %>
                        </span>
                      <% end %>
                    </div>
                  <div class="down"></bottom>
                  <% end %>
                </li>
              <% end -%>
            </ul>
          </div>
          <div class="right menu">
            <%= render 'admin/sites/sidebar' %>
          </div>
        </div>
        <div class="bottom"></div>
      </div>

      <div class="add_new">
        <a href="<%= new_page_path_for_home_or_site %>">Create new page on this site</a>
      </div>
    </div>


    <script src="/javascripts/backoffice/application.js" type="text/javascript" charset="utf-8"></script>
