<!-- HOME -->


  <!-- div id="header_sites" -->
  <div id="gallery">
    <div class="content_gallery">
      <% @sites.each do |site| %>
        <a href="<%= "http://#{url(site)}" %>"><img src="/images/sites/home/big_image_example.jpg" title="<% unless (site.name.nil?)%><%= site.name %><%end%>" desc="<%unless (site.short_description.nil?)%> <%= truncate (site.short_description, :length => 72) %><%end%>" alt="<%unless (site.long_description.nil?)%> <%= truncate (site.long_description, :length => 278) %><%end%>"/></a>
      <%end%>
    </div>
  </div>
  <!-- <div id="gallery"> -->
  <ul id="gallery_thumbails">
    <% @sites.each_with_index do |site, i| %>
    <li class="<%= ((i + 1)%4==0) ? 'last' : '' %>">
        <div id="image">
          <a href="<%= "http://#{url(site)}" %>"><img src="/images/sites/home/thumbnail_example.jpg" alt="<%= site.name %>"/></a>
        </div>
        <a class="site_name" href="<%= "http://#{url(site)}" %>"><%= site.name %></a>
      </li>    
    <% end %>
    
    
    <li class="<%= ((@sites.size+1)%4==0) ? 'last' : '' %>">
        <div id="image">
          <img src="/images/sites/home/more_project.jpg" alt="More projects soon"/>
        </div>
        <a class="site_name">MORE PROJECTS SOON!</a>
    </li>
  </ul>

<script src="/javascripts/sites/home_sites.js" type="text/javascript" charset="utf-8"></script>

<script src="/javascripts/plugins/galleria.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/plugins/galleria.classic.js" type="text/javascript" charset="utf-8"></script>


<!-- ABOUT -->
<%if false%>
  <div id="pages">
    <div class="left"></div>
    <div class="float_left">
      <div class="outer_head">
        <div class="head">        
          <h1>About NGO Aid Maps</h1>
        </div>
      </div>
      <div class="body">
        <p><a href="/">InterAction</a> is developing a web-based mapping platform and database that will ultimately map all of our members’ work worldwide. In 2010, InterAction will pilot the mapping platform with a focus on the NGO community’s response to the earthquake in Haiti, as well as its efforts to improve food security in various countries around the world.</p>
        <p>The mapping platform will be an effective, flexible and sustainable means of capturing information on NGO activities that will:</p>
        <ul>
          <li>Demonstrate NGOs’ commitment to transparency and accountability</li>
          <li>Facilitate partnerships and improve coordination among humanitarian actors</li>          
          <li>Help NGOs and other actors make more informed decisions about where to direct resources</li>
          <li>Highlight the global reach of NGOs to donors, the media and public</li>          
        </ul>
        <h3>BENEFITS OF PARTICIPATING</h3>
        <p>InterAction members who participate in the mapping initiative will have access to a powerful, user-friendly mapping software, GeoIQ, at no cost. With this tool, members will be able to:</p>
        <ul>
          <li>Create maps and easily share them with others</li>
          <li>Identify potential partners</li>
          <li>Identify underserved areas or areas with greatest needs</li>
          <li>Access more than 20,000 data sets from organizations such as the United Nations or World Bank</li>
          <li>Overlay project information with relevant statistical information, such as child malnutrition rates</li>
          <li>Analyze large amounts of data</li>
        </ul>
      </div>
    </div>
    <div class="right">
      <div class="block">

          <h2>ABOUT</h2>
          <ul>
            <li><a>About NGO Aid Maps</a></li>
            <li><a>About Interaction</a></li>
            <li><a>Partners</a></li>
            <li><a>Donors</a></li>
            <li><a>Highlights</a></li>
            <li><a>Contact us</a></li>
          </ul>
      </div>
  </div>
  
  <script src="/javascripts/sites/pages.js" type="text/javascript" charset="utf-8"></script>

<script src="/javascripts/sites/home_sites.js" type="text/javascript" charset="utf-8"></script>

<script src="/javascripts/plugins/galleria.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/plugins/galleria.classic.js" type="text/javascript" charset="utf-8"></script>

<%end%>