
  <div class="main_head">
    <div class="inner_main_head">
      <div class="left">
        <h2><%= @site.word_for_clusters %></h2>
        <h1><%= @cluster.name %></h1>
        <div class="float_head">
          <h2><%= @site.word_for_clusters %></h2>
          <h1><%= @cluster.name %></h1>
          <span class="water"></span>
        </div>
      </div>
      <div class="right">
        <p>Texto para el cluster. Esto no aparece en el back de administración porque no hay gestión de clusters, así que a ver de dónde lo sacamos.</p>
      </div>
    </div>
  </div>



  <div id="map"></div>

  <div id="layout">
    <div id="left_column">
  
      <!-- LEFT PART -->
      <div class="left"></div> <!-- H"J"ACK -->
      <div class="outer_float">
        <div class="float_left">
          <div class="head">
            <h2>FACTSHEET</h2>
          </div>
          <% unless @cluster.projects_regions(@site).empty?%>
          <div class="block statistics">
            <h3>PROJECTS BY LOCATION</h3>
              <ul class="chart">
              <% index = 0 %>
              <% values = '' %>
              <% others = 0%>
              <% max_value = 0 %>
              <% @cluster.projects_regions(@site).each do |region, count| %>
                <% if index < 3 %>
                  <li class="pos<%= index %>"><a href="#"><%= truncate(region.name,:length=>15, :omission=>"...") %></a> - <%= count %></li>
                  <% values += ((index==0) ? '' : ',') + count.to_s() %>
                  <% max_value<count ? max_value=count : nil %>
                <% else %>
                  <% others = others + 1%>
                  <% max_value<others ? max_value=others : nil %>
                <% end %>
                <% index = index + 1 %>
              <% end %>
              
              <% if @cluster.projects_regions(@site).size>3 %>
                <li class="pos3">Others - <%= others %></li>
              <% end %>
            </ul>
            <img class="pie_chart" src="http://chart.apis.google.com/chart?cht=p&chs=120x120&chd=t:<%= values %><% if others>0 %>,<%= others %><% end %>&chds=0,<%= max_value %>&chco=333333|565656|727272|ADADAD|EFEFEF|FFFFFF&chf=bg,s,FFFFFF00" />
          </div>
          <%end%>
          <% unless @cluster.donors(@site).empty? %>
          <div class="block">
            <h3>DONORS</h3>
            <ul>
              <% @cluster.donors(@site).each do |donor| %>
                <li><%= link_to(donor.name, donor_path(donor)) %></li>
              <% end %>
            </ul>
          </div>
          <%end%>
          <%unless (@site.clusters - @cluster.to_a).empty? %>
          <div class="block margin">
            <h3>OTHER CLUSTERS</h3>
            <ul class="clusters">
            <% (@site.clusters - @cluster.to_a).each do |cluster| %>
              <!-- TODO -> Choose kind of clusters -->
              <li class="water">
                <%= link_to(cluster.name, cluster_path(cluster)) %>
                <p>X projects</p>
              </li>
            <% end %>
            </ul>
          </div>
          <%end%>
        </div>
      </div>
      
      <!-- RIGHT PART -->
      <div class="right">
        <h3><%= @cluster.name.upcase %> LIST OF PROJECTS</h3>
        <div id="projects">
          <%= render :partial => 'projects/projects' %>
        </div>
        <div class="view_more">
          <a id="view_more">More projects</a>
        </div>
      </div>
    </div>

    <script src="/javascripts/sites/mercatorProjection.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script> 
    <script src="/javascripts/sites/IOMMarker.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/sites/location.js" type="text/javascript" charset="utf-8"></script>