<div id="left_info_organization">
  <div class="content">
    <div class="header">
      <h2 class="pt_sans_bold shadow"><%= @cluster.name %></h2>
      <p class="info_subtitle"><%= @site.word_for_clusters %></p>
    </div>
    <div class="body_info">
      <div class="content_info">
        <p class="main_info">Texto para el cluster. Esto no aparece en el back de administración porque no hay gestión de clusters, así que a ver de dónde lo sacamos.</p>
      </div>
    </div>

    <!-- PROJECTS BY AREA -->
    <% unless @cluster.projects_regions(@site).empty? %>
    <div class="body_info grid">
      <div class="real_content">
        <div class="content_info">
          <p class="title_section pt_sans_bold"><%= @cluster.name.upcase %> PROJECTS BY REGIONS</p>
          <div class="pie_chart"></div>
          <ul class="info_pie_chart">
            <% @cluster.projects_regions(@site).each do |region, count| %>
              <li class="category1"><p class="name_category"><%= region.name %></p> - <%= count %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <% end %>

    <% unless @cluster.donors(@site).empty? %>
    <div class="body_info grid">
      <div class="real_content resources">
        <div class="content_info">
          <p class="title_section pt_sans_bold">DONORS</p>
          <ul class="additional_resources">
            <% @cluster.donors(@site).each do |donor| %>
            <li><%= link_to(donor.name, donor_path(donor)) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <% end %>
    <% unless (@site.clusters - @cluster.to_a).empty? %>
    <!-- MORE  CLUSTERS -->
    <div class="body_info grid">
      <div class="real_content contact">
        <div class="content_info">
          <p class="title_section pt_sans_bold">MORE <%= @site.word_for_clusters.upcase %></p>
          <ul class="additional_resources">
            <% (@site.clusters - @cluster.to_a).each do |cluster| %>
            <li><%= link_to(cluster.name, cluster_path(cluster)) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <% end %>
    <!-- BOTTOM CONTENT BLANK -->
    <div class="body_info grid">
      <div class="real_content bottom">
      </div>
    </div>
    <!-- BOTTOM IMG -->
    <div class="body_info_bottom"></div>
  </div>
</div>
<!-- left_info_organization -->

<div id="right_info_projects">
  <h3 class="pt_sans_bold shadow_white"><%= @cluster.name.upcase %> LIST OF PROJECTS</h3>
  <div id="projects">
    <%= render :partial => 'projects/projects' %>
  </div>
</div>