
  <div id="layout">
    <div id="pages">
      <div class="left" id="relative_content"></div>
      <div class="float_left">
        <div class="outer_head">
          <div class="head">
            <h1><%= @donor.name %></h1>
            <p>Funding <%= pluralize(@donor.donated_projects.count, 'project', 'projects') %></p>
          </div>
        </div>
        <div class="results_list" id="projects">
          <%= render :partial => 'donors/projects' %>
        </div>
      </div>

      <div class="right">
        <div class="block <%unless @donor.logo.url.empty? && @donor.description.empty? && @donor.twitter.empty? && @donor.facebook.empty? %>border<%end%>">
          <% if @donor.logo_file_name? %>
            <div class="logo">
                <%= image_tag(@donor.logo.url(:small), :id=>'image_logo') %>
            </div>
          <% end %>
          <%= anglo(simple_format(@donor.description)) unless @donor.description.blank? %>
          <p class="social">
            <% if @donor.twitter? %>
              <%= link_to("follow us", "http://twitter.com/#{@donor.twitter}", :class=>"twitter", :target=>"_blank") %>
            <% end %>
            <% if @donor.twitter? &&  @donor.facebook? %> / <% end %>
            <% if @donor.facebook? %>
              <%= link_to("visit our page", "http://facebook.com/#{@donor.facebook}", :class=>"facebook", :target=>"_blank") %>
              <% end %>
          </p>

          <% if @donor.website? %>
            <p class="website"><%= link_to(@donor.website, @donor.website, :rel => 'nofollow', :target => '_blank') %></p>
          <% end %>
        </div>

        <!-- CLUSTER -->
        <% unless @donor.projects_clusters(@site).empty? %>
        <div class="block border statistics">
          <h2>FUNDING BY CLUSTER</h2>
          <ul class="statistics_list">
            <% @donor.projects_clusters(@site)[0...3].each do |cluster,count| %>
              <li>
                <div class="tooltip">
                  <span class="body_tooltip">
                    <label><%= cluster.name %></label>
                  </span>
                  <span class="bottom_tooltip"></span>
                </div>
                <a class="<%= cluster.css_class %> icon_statistics" href="<%= cluster_path(cluster) %>"><span class="aller" style="width:<%= cluster_sector_width(count)-10 %>px"><%= count %></span></a>
              </li>
            <% end %>
          </ul>
        </div>
        <% end %>

        <!-- PROJECTS BY AREA -->
        <% unless @donor.projects_regions(@site).empty? %>
        <div class="block border statistics">
          <h2>FUNDING BY LOCATION</h2>
          <ul class="chart">
            <% index = 0 %>
            <% values = '' %>
            <% others = 0%>
            <% max_value = 0 %>
            <% @donor.projects_regions(@site).each do |region, count| %>
              <% if index < 3 %>
                <li class="pos<%= index %>">
                  <%= link_to(truncate(region.name,:length=>10, :omission=>"..."), region_path(region)) %> - <%= count %>
                </li>
                <% values += ((index==0) ? '' : ',') + count.to_s() %>
                <% max_value<count ? max_value=count : nil %>
              <% else %>
                <% others = others + 1%>
                <% max_value<others ? max_value=others : nil %>
              <% end %>
              <% index = index + 1 %>
            <% end %>

            <% if @donor.projects_regions(@site).size>3 %>
              <li class="pos3">Others - <%= others %></li>
            <% end %>
          </ul>
          <img class="pie_chart" src="http://chart.apis.google.com/chart?cht=p&chs=120x120&chd=t:<%= values %><% if others>0 %>,<%= others %><% end %>&chds=0,<%= max_value %>&chco=333333|565656|727272|ADADAD|EFEFEF|FFFFFF&chf=bg,s,FFFFFF00" />
        </div>
        <% end %>


        <% unless @donor.resources.empty? %>
        <div class="block border">
          <h2>Additional information</h2>
          <ul>
            <% @donor.resources.each do |resource| %>
            <li><%= link_to(resource.title, resource.url, :rel => 'nofollow', :target => '_blank') %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <%unless (@donor.contact_person_name.blank?)&&(@donor.contact_person_position.blank?)&&(@donor.contact_company.blank?)&&(@donor.contact_phone_number.blank?)&&(@donor.contact_email.blank?) %>
        <div class="block border last">
          <h2>Contact information</h2>
          <p><strong><%= @donor.contact_person_name %></strong><br/><%= @donor.contact_person_position %><br/><%= @donor.contact_company %></p>
          <p><%= @donor.contact_phone_number %><br/><%= link_to(@donor.contact_email, "mailto:#{@donor.contact_email}") %></p>
        </div>
      </div>
      <%end%>

    </div>

    <div class="view_more" id="projects_view_more">
      <%= render :partial => "donors/pagination" %>
    </div>

    <script src="/javascripts/sites/pages.js" type="text/javascript" charset="utf-8"></script>

