
  <div id="layout">
    <div id="pages">
      <div class="left" id="relative_content"></div>
      <div class="float_left">
        <div class="outer_head">
          <div class="head">
            <h1>Search projects</h1>
            <%= form_tag(search_path, :method => :get) do %>
              <%= text_field_tag :q, params[:q] %>
              <%= submit_tag 'Search' %>
            <% end %>
          </div>
        </div>
        <div class="results_list">
          <h3><p>
            <% if params[:q]!='' %>
              <%= pluralize(@total_projects.count, 'project') %> for '<%= params[:q] %>'
              <%= active_facets %>
            <% else %>
              <%= pluralize(@total_projects.count, 'project') %> in total
              <%= active_facets %>
            <% end %>
          </p></h3>
          <% if @projects.present? %>
            <ul id="search_results">
              <%= render :partial => 'search/projects' %>
            </ul>
          <% else %>
            <ul>
              <li class="even">
                <p class="no_results">No projects were found for '<%= params[:q] %>'</p>
              </li>
            </ul>
          <% end %>
        </div>
      </div>

      <div class="right">
        <div class="block">
          <% if @regions && @regions.any? %>
            <h2>Filter by region</h2>
            <ul class="filter_list">
            <% index = 0 %>
            <% @regions.each do |region, count| %>
              <% if index<9 %>
                <% if params[:region_id] && params[:region_id].to_i == region.id %>
                  <li><%= region.name %></li>
                <% else %>
                  <li><%= link_to(region.name, filter_url(region)) %> (<%= count %>)</li>
                <% end %>
              <% else %>
                <li class="out"><%= link_to(region.name, filter_url(region)) %> (<%= count %>)</li>
              <% end %>
              <% index = index + 1 %>
            <% end %>
            </ul>
            <% if index>11 %>
              <a href="#more_results" class="more">More results</a>
            <% end %>
          <% end %>
        </div>

        <div class="block">
          <% if @clusters && @clusters.any? %>
            <h2>Filter by TOP <%= @site.word_for_clusters %></h2>
            <ul class="filter_list">
            <% index = 0 %>
            <% @clusters.each do |cluster, count| %>
              <% if index<9 %>
                <% if params[:cluster_id] && params[:cluster_id].to_i == cluster.id && !cluster.name.eql?('N/A')%>
                  <li><%= cluster.name %></li>
                <% else %>
                <% unless cluster.name.eql?('N/A') %>
                  <li><%= link_to(cluster.name, filter_url(cluster)) %> (<%= count %>)</li>
                <% end %>
                <% end %>
              <% else %>
                <% unless cluster.name.eql?('N/A') %>
                  <li><%= link_to(cluster.name, filter_url(cluster)) %> (<%= count %>)</li>
                <%end%>
              <% end %>
              <% index = index + 1 %>
            <% end %>
            </ul>
            <% if index>11 %>
              <a href="#more_results" class="more">More results</a>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="view_more" id="search_view_more">
        <% if @total_projects.count > @projects.count %>
          <%= link_to('More projects', params.merge(:page => @current_page + 1), :id =>'view_more', :class => 'ajax') %>
        <% end %>
      </div>
    </div>

    <script src="/javascripts/sites/pages.js" type="text/javascript" charset="utf-8"></script>

