<div class="main_head">
  <div class="inner_main_head">
    <div class="left">
      <h2><%= @area_parent %></h2>
      <h1><%= @area.name %></h2>
      <div class="float_head">
        <h2><%= @area_parent %></h2>
        <h1><%= @area.name %></h2>
      </div>
    </div>
    <div class="right">
      <%= content_tag :p, @area.wiki_description if @area.wiki_description %>
      <%= content_tag :p, raw("Description provided by Wikipedia #{content_tag(:a, 'Read full article', :href => @area.wiki_url)}"), :class => 'provided' if @area.wiki_url %>
      <% if @area.wiki_description %>
      <span class="wikipedia"/>
      <%end%>
    </div>
  </div>
</div>


<div id="map"></div>
<a href="#zoom_in" id="zoomIn" onclick="zoomIn()"></a>
<a href="#zoom_out" id="zoomOut" onclick="zoomOut()"></a>
<div class="map_style">
  <p>PLAIN</p>
  <ul>
    <li><a id="plain_map" href="#plain">PLAIN</a></li>
    <li><a id="satellite_map" href="#satellite">SATELLITE</a></li>
  </ul>
</div>


<div id="layout">
  <div id="left_column">

    <!-- LEFT PART -->
    <div class="left"></div> <!-- H"J"ACK -->
    <div class="outer_float">
      <div class="float_left">
        <div class="head">
          <h2>OVERVIEW</h2>
        </div>

        <div id="secondary_map">
          <img src="http://chart.apis.google.com/chart?cht=map:auto=85,70,50,5&chs=300x189&chd=t:0&chco=676767,CF6150,0000BB&chld=HT|DR|CU|PR|VE&chf=bg,s,EAF7FE"/>
          </div>
        <div class="block statistics">
          <h3>PROJECTS BY <%= @site.word_for_cluster_sector.upcase %></h3>
          <% if @area.projects_clusters(@site).size > 0 %>
            <ul class="statistics_list">
              <% @first_three.each do |cluster,count| %>
                <li>
                  <div class="tooltip">
                    <span class="body_tooltip">
                      <label><%= cluster.name %></label>
                    </span>
                    <span class="bottom_tooltip"></span>
                  </div>
                  <a class="<%= cluster.css_class %> icon_statistics" href="/clusters/<%=cluster.id%>"><span class="aller" style="width:<%= cluster_width(count, @first_three_max) %>px"><%= count %></span></a>
                </li>

              <% end %>
            </ul>
          <% else %>
            <p>The are no <%= @site.word_for_cluster_sector %>s</p>
          <% end %>
        </div>

        <% donors = @area.donors(@site, 11) %>
        <div class="block">
          <h3>DONORS IN THIS REGION</h3>
          <% unless donors.empty? %>
            <ul>
              <% donors[0...10].each do |donor| %>
              <li><%= link_to(donor.name, donor_path(donor)) %></li>
              <% end %>
            </ul>
            <% if donors.size > 10 %>
              <p>and <%= pluralize(@area.donors_count(@site) - 10, 'more donor', 'more donors') %></p>
            <% end %>
          <% else %>
            <p>The are no donors</p>
          <% end %>
        </div>

        <div class="block margin">
          <h3>PROJECTS IN OTHER REGIONS</h3>
          <ul>
            <% @area.near(@site, 5).each do |area| %>
            <li>
              <%= link_to(area.name, (area.is_a?(Region) ? region_path(area) : country_path(area))) %>
              - <%= pluralize(area.count, 'project', 'projects') %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <!-- float_left -->
    </div>
    <!-- outer_float -->
    <!-- RIGHT PART -->
    <div class="right">
      <h3><%= pluralize(@area.projects_count(@site), 'PROJECT', 'PROJECTS') %> AT <%= @area.name.upcase %></h3>
      <div id="projects">
        <%= render :partial => 'projects/projects' %>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var chco = "<%=@georegion_map_chco%>";
    var chf = "<%=@georegion_map_chf%>";
    var chld = "<%=@chld%>";
    var chd = "<%=@chd%>";
    var marker_source = "<%=@georegion_map_marker_source%>";
    var map_type = "georegion";
    var map_data = [{"id":<%=@map_data["id"]%>, "lat":<%=@map_data["lat"]%>, "lon":<%=@map_data["lon"]%>, "count":<%=@map_data["count"]%>, "name":"<%=@map_data["name"]%>"}];
    var area_geojson = <%=raw(@map_data["geojson"])%>;
    var area_stroke_color = "<%=@georegion_map_stroke_color%>";
    var area_fill_color = "<%=@georegion_map_fill_color%>";
  </script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <%=raw(javascript_include_merged(:georegion_show)) %>
