<div class="main_head">
  <div class="inner_main_head">
    <div class="left">
      <% unless @breadcrumb.empty? %>
      <ul class="breadcrumb">
        <% @breadcrumb.each_with_index do |geo, i| %>
          <li <%= raw('class="last"') if i == @breadcrumb.size - 1 %>><%= link_to(geo.name, location_path(geo)) %></li>
        <% end %>
      </ul>
      <% else %>
        <h2><%= @area_parent %></h2>
      <% end %>
      <h1><%= @area.name %></h2>
      <div class="float_head">
        <% unless @breadcrumb.empty? %>
        <ul class="breadcrumb">
          <% @breadcrumb.each_with_index do |geo, i| %>
            <li <%= raw('class="last"') if i == @breadcrumb.size - 1 %>><%= link_to(geo.name, location_path(geo)) %></li>
          <% end %>
        </ul>
        <% else %>
          <h2><%= @area_parent %></h2>
        <% end %>
        <h1><%= @area.name %></h2>
      </div>
    </div>
    <div class="right">
      <%= content_tag :p, @area.wiki_description if @area.wiki_description %>
      <%= content_tag :p, raw("Description provided by Wikipedia #{content_tag(:a, 'Read full article', :href => @area.wiki_url)}"), :class => 'provided' if @area.wiki_url %>
      <% if @area.wiki_description %>
      <span class="wikipedia"/>
      <%end%>
    </div>
  </div>
</div>


<div id="map"></div>
<a href="#zoom_in" id="zoomIn" onclick="zoomIn()"></a>
<a href="#zoom_out" id="zoomOut" onclick="zoomOut()"></a>
<div class="map_style">
  <p>PLAIN</p>
  <ul>
    <li><a id="plain_map" href="#plain">PLAIN</a></li>
    <li><a id="satellite_map" href="#satellite">SATELLITE</a></li>
  </ul>
</div>


<div id="layout">
  <div id="left_column">

    <!-- LEFT PART -->
    <div class="left"></div> <!-- H"J"ACK -->
    <div class="outer_float">
      <div class="float_left">
        <div class="head">
          <h2>OVERVIEW</h2>
        </div>

        <div id="secondary_map">
          <img src="http://maps.google.com/maps/api/staticmap?size=302x189&maptype=roadmap&style=feature:all|element:labels|visibility:off&style=feature:road|element:all|visibility:off&style=feature:administrative.province|element:all|visibility:off&style=feature:water|element:all|hue:0x00c3ff&sensor=false&center=<%=@area.center_lat%>,<%=@area.center_lon%>&zoom=3&markers=icon:http://www.ngoaidmap.org/images/themes/<%=@site.theme_id%>/marker_1.png|<%=@area.center_lat%>,<%=@area.center_lon%>"/>
          </div>
        <% if @area.projects_clusters_sectors(@site).size > 0 %>
        <div class="block statistics">
          <h3>PROJECT <%= @site.word_for_cluster_sector.upcase %></h3>

            <ul class="statistics_list">
              <% @area.projects_clusters_sectors(@site)[0..3].each do |category,count| %>
                <li>
                  <div class="tooltip">
                    <span class="body_tooltip">
                      <label><%= category.name %></label>
                    </span>
                    <span class="bottom_tooltip"></span>
                  </div>
                  <a class="<%= category.css_class %> icon_statistics" href="<%= category.is_a?(Cluster) ? cluster_path(category) : sector_path(category) %>"><span class="aller" style="width:<%= cluster_sector_width(count, @area.projects_clusters_sectors(@site)[0..3].map{ |e| e.last }.max) %>px"><%= count %></span></a>
                </li>
              <% end %>
            </ul>
            <% unless @area.projects_clusters_sectors(@site).size < 4%>
                <p class="other">and <%= pluralize(@area.projects_clusters_sectors(@site).size - 3,"more #{@site.word_for_cluster_sector.singularize}", "more #{@site.word_for_cluster_sector.pluralize}") %></p>
            <% end %>
        </div>
        <% end %>
        <% donors = @area.donors(@site, 11) %>
        <div class="block">
          <h3>DONORS IN THIS <%= word_for_geo_context(@area) %></h3>
          <% unless donors.empty? %>
            <ul>
              <% donors[0...10].each do |donor| %>
              <li><%= link_to(donor.name.html_safe, donor_path(donor)) %></li>
              <% end %>
            </ul>
            <% if @area.donors_count(@site) > 10 %>
              <p>and <%= pluralize(@area.donors_count(@site) - 10, 'more donor', 'more donors') %></p>
            <% end %>
          <% else %>
            <p>The are no donors</p>
          <% end %>
        </div>

        <div class="block margin">
          <h3>PROJECTS IN OTHER <%= word_for_geo_context(@area).pluralize %></h3>
          <ul>
            <% @area.near(@site, 5).each do |area| %>
            <li>
              <%= link_to(area.name, location_path(area)) %>
              - <%= pluralize(area.count, 'project', 'projects') %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <!-- float_left -->
    </div>
    <!-- outer_float -->
    <!-- RIGHT PART -->
    <div class="right">
      <h3><%= pluralize(@area.projects_count(@site), 'ACTIVE PROJECT', 'ACTIVE PROJECTS') %> IN <%= @area.name.upcase %> <a id="see_all" href="#">View past projects</a>
        <div class="tooltip">
          <span class="body_tooltip">
            <label>Coming soon!</label>
            <p>Please stay tuned.</p>
          </span>
          <span class="bottom_tooltip"></span>
        </div>
      </h3>
      <div id="projects">
        <%= render :partial => 'projects/projects' %>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    <% if @overview_map_bbox %>
    var bbox = <%=raw(@overview_map_bbox.to_json)%>;
    <% end %>
    var chco = "<%=@georegion_map_chco%>";
    var chf = "<%=@georegion_map_chf%>";
    var chld = "<%=@chld%>";
    var chd = "<%=@chd%>";
    var marker_source = "<%=@georegion_map_marker_source%>";
    <% if @area.is_a?(Country) && @site.navigate_by_regions? %>
      var map_type = "administrative_map";
    <% else %>
      var map_type = "georegion";
    <% end  %>
    var last_level = "<%= @area.is_a?(Country) && @site.navigate_by_regions? ? "false" : "true" %>";
    var show_regions_with_one_project = "<%= @area.is_a?(Country) && @site.navigate_by_regions? ? "true" : "false" %>";
    <% if @map_data %>
      <% if @area.is_a?(Country) && @site.navigate_by_regions? %>
      var map_data = <%=raw(@map_data)%>;
      <% else %>
      var map_data = [{"id":<%=@map_data["id"]%>, "lat":<%=@map_data["lat"]%>, "lon":<%=@map_data["lon"]%>, "count":<%=@map_data["count"]%>, "name":"<%=@map_data["name"]%>"}];
      <% end %>
    <% else %>
      var map_data = [];
    <% end %>
    var max_count = <%=@map_data_max_count%>;
    var area_stroke_color = "<%=@georegion_map_stroke_color%>";
    var area_fill_color = "<%=@georegion_map_fill_color%>";
    var theme = <%=@site.theme_id%>;
    var stylez = <%=raw @site.map_styles  %>
  </script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <% if @area.is_a?(Country) && @site.navigate_by_regions? %>
  <%=raw(javascript_include_merged(:georegion_overview_map_show)) %>
  <% else %>
  <%=raw(javascript_include_merged(:georegion_show)) %>
  <% end %>
