
<div id="header">
  <div class="inner_header">
    <div class="left <%= (action_name == 'home')? 'home':''%>">
      <h1><%= link_to(@site.name,'/') %></h1>
      <ul class="menu">
          <% if @site.cluster %>
            <li><a class="main_option" href="<%= cluster_path(@site.cluster) %>" class="geneva"><%= @site.word_for_clusters.upcase.singularize %></a></li>
          <% elsif @site.sector %>
            <li><a class="main_option" href="<%= sector_path(@site.sector) %>" class="geneva"><%= @site.word_for_sectors.upcase.singularize %></a></li>
          <% else %>
            <li id="<%= @site.navigate_by_cluster? ? 'cluster' : 'sector' %>_option">
              <a class="geneva main_option with_suboptions"><%= @site.word_for_cluster_sector.upcase %><span class="with_suboptions"></span></a>
              <div class="header_title"><a><%= @site.word_for_cluster_sector.upcase %><span class="with_suboptions"></span></a></div>
              <ul class="suboptions <%= (@site.clusters_or_sectors.size > 16)? 'longer':'' %>">
                <% @site.clusters_or_sectors.reject{|c| c.name.eql?('N/A') }.each do |category| %>
                <li>
                  <a href="<%= category.is_a?(Cluster) ? cluster_path(category) : sector_path(category) %>" class="geneva <%= category.css_class %> <%= (category.name.size > 17)? 'double_line':''%> icon_menu">
                    <%= category.name %>
                  </a>
                </li>
                <% end %>
              </ul>
            </li>
          <% end %>

          <%
            #If there is a region context then we display nothing on the header for location
            if @site.geographic_context_region_id? %>
            <!--Nothing to present here -->
          <%
            #if the site defines a country then display the regions
            elsif @site.geographic_context_country_id? %>
            <li id="region_option">
              <a class="geneva main_option with_suboptions">REGIONS<span class="with_suboptions"></span></a>
              <div class="header_title"><a>REGIONS<span class="with_suboptions"></span></a></div>
              <div class="suboptions_body">
                <span class="suboptions_body_top"></span>
                <div class="wrapper">
                  <!-- We have to ask for numbers of elements to show (or not) custom scroll bar -->
                  <ul class="content <%= (@site.regions_select.length > 11)? 'scroll_pane' : ''%>">
                    <% @site.regions_select.each do |region| %>
                    <li><a href="/regions/<%= region.id %>" class="geneva"><%= region.name %></a></li>
                    <% end %>
                  </ul>
                </div>
              </div>
              </li>
          <%
           # if the site does not define a geo context, then is worldwide,display the countries
            else %>
            <li id="country_option">
              <a class="geneva main_option with_suboptions">COUNTRIES<span class="with_suboptions"></span></a>
              <div class="header_title"><a>COUNTRIES<span class="with_suboptions"></span></a></div>
              <div class="suboptions_body">
                <div class="wrapper">
                  <ul class="content scroll_pane">
                    <% @site.countries_select.each do |country| %>
                    <li><a href="/countries/<%= country.id %>" class="geneva"><%= country.name %></a></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </li>
          <% end %>

          <li id="organization_option">
              <a class="geneva main_option with_suboptions">ORGANIZATIONS<span class="with_suboptions"></span></a>
              <div class="header_title"><a>ORGANIZATIONS<span class="with_suboptions"></span></a></div>
              <div class="suboptions_body">
                <form method="get">
                  <input id="ngos_search" type="text" value="" name="ngos_search"/>
                </form>
                <div class="wrapper">
                  <ul id="orgs_list" class="content scroll_pane">
                      <% @site.organizations.each do |organization| %>
                        <li><a href="<%= organization_path(organization) %>"><%= organization.name %></a></li>
                      <% end %>
                  </ul>
                </div>
              </div>
            </li>
            <li><a href="<%= page_path(Page.highlights(@site)) %>" class="geneva main_option">HIGHLIGHTS</a></li>
            <li><a href="<%= page_path(Page.about(@site)) %>" class="geneva main_option">ABOUT</a></li>
      </ul>
    </div>

    <div class="right">
      <%= form_tag(search_path, :method => :get, :class => 'search') do %>
        <span class="input_search">
          <%= text_field_tag :q, params[:q], :value=>'Search...' %>
          <%= submit_tag '' %>
        </span>
      <% end %>
    </div>
  </div>
</div>
