
<div id="header">
  <div class="inner_header">
    <div class="left <%= (action_name == 'home')? 'home':''%>">
      <h1><%= link_to(@site.name,'/') %></h1>
      <ul class="menu">
          <% if @site.cluster %>
            <li><a class="main_option" href="<%= cluster_path(@site.cluster) %>" class="geneva"><%= @site.word_for_clusters.upcase.singularize %></a></li>
          <% elsif @site.sector %>
            <li><a class="main_option" href="<%= sector_path(@site.sector) %>" class="geneva"><%= @site.word_for_sectors.upcase.singularize %></a></li>
          <% else %>
            <% if @site.navigate_by_cluster? %>
            <li id="cluster_option">
              <a href="#" class="geneva main_option with_suboptions"><%= @site.word_for_clusters.upcase %><span class="with_suboptions"></span></a>
              <div class="header_title"><a><%= @site.word_for_clusters.upcase %><span class="with_suboptions"></span></a></div>
              <ul class="suboptions">
                <% @site.clusters.each do |cluster| %>
                <%unless cluster.name.eql?('N/A')%>
                <li><a href="<%= cluster_path(cluster) %>" class="geneva <%= cluster.css_class %>"><%= cluster.name %></a></li>
                <%end%>
                <% end %>
              </ul>
            </li>
            <% elsif @site.navigate_by_sector? %>
            <li id="sector_option">
              <a href="#" class="geneva main_option with_suboptions"><%= @site.word_for_sectors.upcase %><span class="with_suboptions"></span></a>
              <ul class="suboptions">
                <% @site.sectors.each do |sector| %>
                <li><a href="<%= sector_path(sector) %>" class="geneva"><%= sector.name %></a></li>
                <% end %>
              </ul>
            </li>
            <% end %>
          <% end %>

          <%
            #If there is a region context then we display nothing on the header for location
            if @site.geographic_context_region_id? %>
            <!--Nothing to present here -->
          <%
            #if the site defines a country then display the regions
            elsif @site.geographic_context_country_id? %>
            <li id="country_option">
              <a href="#" class="geneva main_option">REGIONS<span class="with_suboptions"></span></a>
              <div class="header_title"><a>REGIONS<span class="with_suboptions"></span></a></div>
              <div class="suboptions_body">
                <div class="wrapper">
                  <ul class="content scroll_pane">
                    <% @site.regions_select.each do |region| %>

                    <li><a href="/regions/<%= region.id %>" class="geneva"><%= region.name %></a></li>
                    <% end %>
                  </ul>
                </div>
          <%
           #if the site does not define a geo context, then is worldwide,display the countries
            else %>

            <!-- ONLY TO TEST -->
            <li id="country_option">
              <a href="#" class="geneva main_option with_suboptions">COUNTRIES<span class="with_suboptions"></span></a>
              <div class="header_title"><a>COUNTRIES<span class="with_suboptions"></span></a></div>
              <div class="suboptions_body">
                <div class="wrapper">
                  <ul class="content scroll_pane">
                    <% @site.countries_select.each do |country| %>

                    <li><a href="/countries/<%= country.id %>" class="geneva"><%= country.name %></a></li>
                    <% end %>
                  </ul>
                </div>
              </div>
          <% end %>
        <li id="organization_option">
            <a href="#" class="geneva main_option with_suboptions">ORGANIZATIONS<span class="with_suboptions"></span></a>
            <div class="header_title"><a>ORGANIZATIONS<span class="with_suboptions"></span></a></div>
            <div class="suboptions_body">
              <form method="get">
                <input id="ngos_search" type="text" value="" name="ngos_search"/>
              </form>
              <div class="wrapper">
                <ul id="orgs_list" class="content scroll_pane_auto">

                  <% @site.organizations.each do |organization| %>
                    <li><a href="<%= organization_path(organization) %>"><%= organization.name %></a></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </li>
          <li><a href="<%= page_path(Page.analysis(@site)) %>" class="geneva main_option">ANALYSIS</a></li>
          <li><a href="<%= page_path(Page.about(@site)) %>" class="geneva main_option">ABOUT</a></li>
      </ul>
    </div>

    <div class="right">
      <%= form_tag(search_path, :method => :get, :class => 'search') do %>
        <span class="input_search">
          <%= text_field_tag :q, params[:q], :value=>'Search...' %>
          <%= submit_tag '' %>
        </span>
      <% end %>
    </div>
  </div>
</div>