<ul>
  <li <%= selected_if_current_page(edit_admin_project_path(@project)) %>>
    <%= link_to('Basic information', edit_admin_project_path(@project)) %>
  </li>
  <li <%= selected_if_current_page(admin_project_media_resources_path(@project)) %>>
    <%= link_to("Media", admin_project_media_resources_path(@project)) %><% if !@project.media_resources.empty? %> <p><span><%=@project.media_resources.count%></span></p><% end %>
  </li>

  <li <%= selected_if_current_page(donations_admin_project_path(@project)) %>>
      <%= link_to('Donors', donations_admin_project_path(@project)) %><% if !@project.donations.empty? %> <p><span><%=@project.donations.count%></span></p><% end %>
  </li>

  <% if false -%>
  <li <%= selected_if_current_page(admin_project_resources_path(@project)) %>>
    <%= link_to("Resources", admin_project_resources_path(@project)) %><% if !@project.resources.empty? %> <p><span><%=@project.resources.count%></span></p><% end %>
  </li>
  <% end -%>

  <% if current_user.admin? -%>
  <li <%= selected_if_current_page(admin_project_activity_path(@project)) %>>
    <%= link_to("Activity", admin_project_activity_path(@project)) %>
  </li>
  <% end -%>
</ul>

<% if current_user.admin? -%>
<div class="delete">
  <h5 class="museo_sans">DELETE THIS PROJECT</h5>
  <p>Clicking the link below will permanently delete this donor and its references within the sites</p>
  <%= link_to("Delete this project", '#', :destroy_url => admin_project_path(@project), :att_name => 'project') %>
</div>
<% end -%>
