<ul>
  <li <%= selected_if_current_page(edit_admin_donor_path(@donor)) %>>
    <%= link_to_unless_current('Basic information', edit_admin_donor_path(@donor)) %>
  </li>
  <li <%= selected_if_current_page(projects_admin_donor_path(@project)) %>>
    <%= link_to_unless_current('Funded projects', projects_admin_donor_path(@project)) %><% if !@project.donations.empty? %> <p><span><%=@project.donations.count%></span></p><% end %>
  </li>
  <li <%= selected_if_current_page(admin_donor_media_resources_path(@project)) %>>
    <%= link_to_unless_current("Media", admin_donor_media_resources_path(@project)) %><% if !@project.media_resources.empty? %> <p><span><%=@project.media_resources.count%></span></p><% end %>
  </li>
  <li <%= selected_if_current_page(admin_donor_resources_path(@project)) %>>
    <%= link_to_unless_current("Resources", admin_donor_resources_path(@project)) %><% if !@project.resources.empty? %> <p><span><%=@@project.resources.count%></span></p><% end %>
  </li>
</ul>

<div class="delete">
  <h5>DELETE THIS PROJECT</h5>
  <p>Clicking the link below will permanently delete this donor and its references within the sites</p>
  <%= link_to("Delete this project", admin_project_path(@project), :method => :delete, :confirm => '¿Are you sure?') %>
</div>
