<div class="main_layout">
  <div class="block first donations_project">
    <div class="top"></div>
    <div class="med">
      <div class="left">
        <h2><%= @project.name %></h2>
        <p>by <%= @project.primary_organization.name %></p>
        <% unless @project.donations.empty? %>
          <ul class="donations">
      <% total_account = 0 %>
             <% @project.donations.each do |donation| %>
            <li>
        <div class="name_box">
                  <h3>
            <%= link_to(donation.donor.name, edit_admin_donor_path(donation.donor)) %>
          </h3>
        </div>
        <div class="date_box">
          <%if false %>
                <p><%= donation.date.strftime("%Y/%m/%d") %></p>
          <%end%>
        </div>
        <div class="amount_box">
                  <p>$ <%= donation.amount %></p>
          <%= link_to('', admin_project_donation_path(@project, donation), :method => :delete, :confirm => 'Are your sure?', :class => 'delete') %>
        </div>
        <%= total_account += donation.amount %>
            </li>
            <% end -%>
          </ul>
      <h4 class="total museo_sans">TOTAL DONATED:</h4><span class="total_account">$</span><p class="amount"><%= total_account %></p>
        <% end -%>
    <%= form_for([:admin, @project, (@donation || @project.donations.new)]) do |f| %>
      <h4 class="museo_sans shadow_white">Add a new donation</h4>

        <div id="donor_name" class="field">
          <%= f.label :donor_id, 'DONOR NAME' %>
          <span id="donor_name_input">
          <input type="text" id="autocomplete_donor_name" >
          <%= f.hidden_field :donor_id %>
          </span>
        </div>
        <div id="donation_date" class="field">
            
            <%= f.label :date, 'DONATION DATE' %>

            <span id="donation_date" class="combo_date"><p>09/10/2010</p>
              <div class="select_dates">
                <p id="month" class="title">MONTH</p>
                <p id="day" class="title">DAY</p>
                <p id="year" class="title">YEAR</p>

                  <%= f.date_select :date, :start_year => Date.today.year, :order => [:month, :day, :year]  %>
              </div>
            </span>

        </div>
        <div id="donation_amount" class="field">
          <%= f.label :amount, 'AMOUNT' %>
        <span>
            <%= f.text_field :amount  %>
        </span>
        </div>
        <!--  TO GET CORRECT URL -->
        <script>
          var admin_tags_path = '<%= admin_donors_path %>';  
        </script>

          <%= f.submit 'Add donation' %>
      <% end -%>
      </div>
      <div class="right menu">
      <%= render 'admin/projects/sidebar' %>
      </div>
    </div>
    <div class="bottom"></div>
  </div>
</div>

<script src="/javascripts/plugins/jquery.stylish-select.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/backoffice/project.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/backoffice/application.js" type="text/javascript" charset="utf-8"></script>
