<div class="main_layout">
  <div class="block project_info">
    <div class="top"></div>
    <div class="med">
      <div class="left">
        <h2 class="museo_sans"><%= @project.name %></h2>
        <p class="by">by <%= link_to(@project.primary_organization.name, edit_admin_organization_path(@project.primary_organization)) %> /
          <%= @project.countries.first.name if @project.countries.any? %>
        </p>
        <%= render :partial => 'form' %>
      </div>
      <div class="right menu">
          <%= render 'admin/projects/sidebar' %>
      </div>
    </div>
    <div class="bottom"></div>
  </div>
</div>

<script src="/javascripts/backoffice/application.js" type="text/javascript" charset="utf-8"></script>
