<div class="main_layout">
  <div class="block">
    <div class="two_projects">
    <span class="top"></span>
    <div class="content">
      <%= form_tag(admin_projects_path, :method => :get) do %>
        <label>SEARCH BY TEXT</label>
        <input type="text" value="<%= params[:q] || 'Search projects by name, place,...'%>" name="q" class="main_search"/>
        <input type="submit" value="" />
        <ul class="combos">
          <li>
            <label>STATUS</label>
            <span id="status_combo_search" class="combo"><p>All status</p>
            <input id="status_input" type="hidden" value="" name="status" />
            <ul class="elements short">
              <li class="first"></li>
              <li>
                <a id="0" class="status">All status</a>
              </li>
              <li>
                <a id="active" class="status">Active</a>
              </li>
              <li>
                <a id="closed" class="status">Closed</a>
              </li>
              <li class="last"></li>
            </ul>
          </span>
        </li>
        <li>
          <label>COUNTRY</label>

          <%= select_tag :country,
                         options_for_select([['All countries',0]] + Country.get_select_values.collect{ |c| [c.name, c.id] }) %>

        </li>
        <li>
          <label>CLUSTER</label>
          <span id="cluster_combo_search" class="combo"><p>All clusters</p>
          <input id="cluster_input" type="hidden" value="" name="cluster" />
          <div class="elements_content">
            <div class="wrapper">
              <ul class="elements scroll_pane">
                <li>
                  <a id="0">All clusters</a>
                </li>
                 <% Cluster.get_select_values.each do |cluster| %>
                <li>
                  <a id="<%= cluster.id%>"><%= truncate(cluster.name,:length => 20)%></a>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
          </span>
        </li>
        <li>
          <label>SECTOR</label>
          <span id="sector_combo_search" class="combo"><p>All sectors</p>
          <input id="sector_input" type="hidden" value="" name="sector" />
          <div class="elements_content">
            <div class="wrapper">
              <ul class="elements scroll_pane">
                <li>
                  <a id="0">All sectors</a>
                </li>
                <% Sector.get_select_values.each do |sector| %>
                <li>
                  <a id="<%= sector.id%>"><%= truncate(sector.name,:length => 20)%></a>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
          </span>
        </li>
      </ul>
      <% end %>
    </div>
    <span class="bottom"></span>
    </div>
    <div class="one_project">
    <span class="top"></span>
    <div class="content">
      <div id ="information_projects" class="center">
        <p class="museo_sans"><%= @projects_count %></p>
        <label class="museo_sans"><%= @projects_count == 1 ? 'project' : 'projects' %><br/>registered</label>
      </div>
        <a class="add_project museo_sans shadow_green" href="<%= new_admin_project_path %>">Add new project</a>
        <a class="import_csv museo_sans shadow_black" href="<%= admin_export_projects_path(:format => 'xls') %>">Export projects</a>
    </div>
    <span class="bottom"></span>
    </div>
  </div>

  <div class="block">
    <div class="top"></div>
    <div class="med projects_list">
      <h2 class="museo_sans">
        <%= pluralize(@projects.total_entries, 'project', 'projects') %>
        <% if @conditions.any? %>
          on
        <%=raw(
        @conditions.map do |c, vh|
            if new_conditions = @conditions.dup.delete_if{ |k,v| k == c }.values.first
              new_conditions.merge!(:q => params[:q])
            else
              new_conditions = {:q => params[:q]}
            end
            link_to(c, admin_projects_path(new_conditions), :class => 'remove')
        end.join(' & ')
        )%>
        <% end %>
      </h2>
      <% if @projects.any? %>
      <ul>
        <% @projects.each do |project| %>
        <li>
          <div class="project_name">
            <h3><a href="<%= edit_admin_project_path(project) %>"><%= truncate(project.name,:length => 50) %></a></h3>
            <a class="project_status <%= project.finished? ? 'closed' : 'active' %>"><%= project.finished? ? 'Closed' : 'Active' %></a>
          </div>
            <div class="gray box <%= (project.primary_organization.name.length < 20) ? 'single' : '' %>">
              <p class="red"><a href="<%= edit_admin_organization_path(project.primary_organization) %>"><%= truncate(project.primary_organization.name, :length => 40)%></a></p>
            </div>
          <% unless project.clusters.empty? %>
            <% if project.clusters.count == 1 %>
            <div class="white box little <%= (project.clusters.first.name.length < 20)? 'single' : '' %>">
              <p><%= project.clusters.first.name %></p>
            </div>
            <% else %>
            <div class="white box little">
              <p><%= truncate(project.clusters.first.name, :length => 19) %></p>
              <p class="secondary"><%= "and #{project.clusters.count - 1} more" %></p>
            </div>
            <% end %>
          <% else %>
            <div class="white box little single">
                <p>N/A</p>
            </div>
          <% end %>
          <div class="gray box little <%= (project.countries.first && project.countries.first.name.length < 20 ) ? 'single' : '' %>">
            <p><%= project.countries.first.try(:name) %></p>
          </div>
        </li>
        <% end -%>
      </ul>
      <% else %>
        <% if Project.count>1 %>
          <div class="no_results">
            <h2>There are not projects for your search</h2>
            <p>Try to search with different terms or simply <a href="<%= admin_projects_path %>">browse all projects</a></p>
          </div>
        <% else %>
          <div class="no_results">
            <h2>There are not projects in the site</h2>
            <p>Try to <a href="<%= new_admin_project_path %>">add new one</a>.</p>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="bottom_grey paginate">
      <%= will_paginate(@projects) %>
    </div>
  </div>

  <div class="add_new">
    <a class="museo_sans" href="<%= new_admin_project_path %>">
      Create new project<br/>
      <strong>You already have <%= pluralize(Project.count, 'project', 'projects') %> created</strong>
    </a>
  </div>
</div>
<script src="/javascripts/plugins/jquery.mousewheel.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/plugins/jquery.jscrollpane.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/plugins/jquery.stylish-select.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/backoffice/project.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/backoffice/application.js" type="text/javascript" charset="utf-8"></script>
