<div class="main_layout">
  <div class="block">
    <div class="long_search">
      <span class="top"></span>
      <div class="content padding">
        <%= form_tag(admin_projects_path, :method => :get, :class => :search) do %>
          <label>SEARCH BY TEXT</label>
          <input type="text" value="<%= params[:q] %>" placeholder = "Search projects by name, place,..." name="q" class="main_search"/>
          <input type="submit" value="" />
          <ul class="combos">
            <li class="comboselect status">
              <label>STATUS</label>
              <%= select_tag :status,
                options_for_select([['All statuses', 0], ['Active', 'active'], ['Closed', 'closed']], params[:status]), :class => :"chzn-select" %>
            </li>

            <li class="comboselect">
              <label>COUNTRY</label>
              <%= select_tag :country,
                options_for_select([['All',0]] + Country.get_select_values.collect{ |c| [c.name, c.id] }, params[:country]), :class => :"chzn-select" %>
            </li>

            <li class="comboselect">
              <label>SECTOR</label>

              <%= select_tag :sector,
                options_for_select([['Any sector',0]] + Sector.get_select_values.collect { |c| [c.name, c.id] }, params[:sector]), :class => :"chzn-sectors-select" %>
            </li>

            <li class="comboselect">
              <label>SITE</label>

              <%= select_tag :site,
                options_for_select([['Any site',0]] + Site.get_select_values.collect { |c| [c.name.capitalize.strip, c.id] }, params[:site]), :class => :"chzn-sites-select" %>

            </li>
          </ul>
        <% end %>
      </div>
      <span class="bottom"></span>
    </div>
  </div>

  <div class="block">
    <div class="top"></div>
    <div class="med">
      <div class="header no_border">
        <h2 class="museo_sans">
          <%= pluralize(@projects.total_entries, 'project', 'projects') %>
          <% if @conditions.any? %>
            on
            <%=raw(
              @conditions.map do |c, vh|
                if new_conditions = @conditions.dup.delete_if{ |k,v| k == c }.values.first
                  new_conditions.merge!(:q => params[:q])
                else
                  new_conditions = {:q => params[:q]}
                end
                link_to(c, admin_projects_path(new_conditions), :class => 'remove')
              end.join(' & ')
            )%>
        <% end %>
      </h2>
      <span class="buttons">
        <a class="add_project museo_sans shadow_green" href="<%= new_admin_project_path %>">New project</a>
        <a class="import_csv museo_sans shadow_black" href="<%= admin_export_projects_path(:format => 'xls') %>">Export projects</a>
        <% if current_user.administrator? %>
          <div id="uploader"></div>
        <% end %>
      </span>
    </div>
    <div class="projects_list">
      <% if @projects.any? %>
        <table collapse="0">
          <tbody>
            <% @projects.each do |project| %>
              <tr>
                <td width="625">
                  <span>
                    <h3><a href="<%= edit_admin_project_path(project) %>"><%= project.name %></a><% if current_user.admin? -%> by <a href="<%= edit_admin_organization_path(project.primary_organization) %>"><%= project.primary_organization.name %></a><% end %></h3>
                    <p class="margin"><a class="project_status <%= project.finished? ? 'closed' : 'active' %>">
                        <%= project.finished? ? 'Closed' : 'Active' %></a>
                      <% if project.end_date.present? -%>
                        <% if project.finished? -%>
                          <%= project.end_date.strftime("since %b #{project.end_date.day.ordinalize}, %Y") %>
                        <% else -%>
                          <%= project.end_date.strftime("until %b #{project.end_date.day.ordinalize}, %Y") %>
                        <% end -%>
                      <% end -%>
                    </p>
                  </span>
                </td>
                <td width="150" class="odd center">
                  <% unless project.sectors.empty? %>
                    <% if project.sectors.count == 1 %>
                      <p><%= project.sectors.first.name %></p>
                    <% else %>
                      <p><%= truncate(project.sectors.first.name, :length => 19) %></p>
                      <p class="secondary"><%= "and #{project.sectors.count - 1} more" %></p>
                    <% end %>
                  <% else %>
                    <p>N/A</p>
                  <% end %>
                </td>
                <td width="150" class="center">
                  <p><%= project.countries.map(&:name).to_sentence %></p>
                </td>
              </tr>
            <% end -%>
          </tbody>
        </table>
      <% else %>
        <% if Project.count>1 %>
          <div class="no_results">
            <h2>There are not projects for your search</h2>
            <p>Try to search with different terms or simply <a href="<%= admin_projects_path %>">browse all projects</a></p>
          </div>
        <% else %>
          <div class="no_results">
            <h2>There are not projects in the site</h2>
            <p>Try to <a href="<%= new_admin_project_path %>">add new one</a>.</p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="bottom_grey paginate">
    <%= will_paginate(@projects) %>
  </div>
</div>

<div class="add_new">
  <a class="museo_sans" href="<%= new_admin_project_path %>">
    Create new project<br/>
    <strong>You already have <%= pluralize(@total_projects_count, 'project', 'projects') %> created</strong>
  </a>
</div>
</div>
<script src="/javascripts/plugins/jquery.mousewheel.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/plugins/jquery.jscrollpane.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/backoffice/project.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/backoffice/application.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/backoffice/projects.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/plugins/chosen/chosen.jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/plugins/fineuploader-3.3.0.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(".chzn-select").chosen();
  $(".chzn-sectors-select").chosen({hide_search:true});
  $(".chzn-sites-select").chosen({hide_search:true});
  var endpoint = '<%= url_for([:admin, ProjectsSynchronization.new]) %>';
</script>
