<div class="main_layout">
  <div class="block">
    <div class="two_projects">
    <span class="top"></span>
    <div class="content">
        <form>
          <label>SEARCH BY TEXT</label>
          <input type="text" value="Search projects by name, place,..." onclick="this.value=''" />
          <input type="submit" value="" />

			<ul class="combos">
				<li>
					<label>STATUS</label>
					<a class="combo">All status</a>
				</li>
				<li>
					<label>COUNTRY</label>
					<a class="combo">All</a>
				</li>
				<li>
					<label>CLUSTER</label>
					<a class="combo">Select cluster</a>
				</li>
				<li>
					<label>SECTOR</label>
					<a class="combo">Select sector</a>
				</li>
			</ul>		
	      </form>
		</div>
		<span class="bottom"></span>
    </div>
    <div class="one_project">
    <span class="top"></span>
    <div class="content">
        <p><%= Project.count %></p>  
		<!-- NOTE: Pluralize do the following condition but we don't want duplicate Project.count information -->
        <label><%= ((Project.count > 1)&&(Project.count != 0))? 'projects':'project' %><br/>registered</label>   
        <a class="add_project" href="<%= new_admin_project_path %>">Add new project</a>
        <a class="import_csv" href="#">Import a .csv file</a>
    </div>
    <span class="bottom"></span>
    </div>
  </div>

  <div class="block">
    <div class="top"></div>
    <div class="med projects_list">
      <h2>
        <%= pluralize(@projects.total_entries, 'project', 'projects') %>
        <% if params[:q]%>
          on <a class="remove" href="#">Food</a> & <a class="remove" href="#">Health</a>
        <% end %>
      </h2>
      <ul>
        <% @projects.each do |project| %>
        <li>
          <div class="project_name">
            <h3><a href="<%= edit_admin_project_path(project) %>"><%= project.name %></a></h3>
            <a class="project_status <%= project.finished? ? 'closed' : 'active' %>"><%= project.finished? ? 'Closed' : 'Active' %></a>
          </div>
          <div class="gray box single">
            <p class="red"><a href="<%= edit_admin_organization_path(project.primary_organization) %>"><%= project.primary_organization.name %></a></p>
          </div>
          <% unless project.clusters.empty? %>
            <% if project.clusters.count == 1 %>
            <div class="white box single">
              <p><%= project.clusters.first.name %></p>
            </div>
            <% else %>
            <div class="white box little">
              <p><%= project.clusters.first.name %></p>
              <p class="secondary"><%= "and #{project.clusters.count - 1} more" %></p>
            </div>
            <% end %>
          <% else %>
            <div class="white box little">
            </div>
          <% end %>
          <div class="gray box single little">
            <p><%= project.countries.first.try(:name) %></p>
          </div>
        </li>
        <% end -%>
      </ul>
    </div>
    <% if @projects.total_pages > 2 %>
    <div class="bottom_grey paginate">
      <%= will_paginate(@projects) %>
    </div>
    <% end %>
  </div>

  <div class="add_new">
    <a href="<%= new_admin_project_path %>">
      Create new project<br/>
      <strong>You already have <%= pluralize(Project.count, 'project', 'projects') %> created</strong>
    </a>
  </div>
</div>