  <div class="main_layout">

    <div class="block media">
      <div class="top"></div>
      <div class="med">
        <div class="left">
          <h2><%= @element.name %></h2>
          <% unless @element.media_resources.empty? %>
            <ul>
            <% @element.media_resources.each do |resource| %>
              <% if resource.is_a_video? %>
                <li>
                  <div class="top_media"></div>
                  <div class="med_media">
                    <%= raw(CGI.unescapeHTML(resource.vimeo_embed_html)) %>
                    <p class="caption">No caption provided, <a href="#">add it?</a></p>
                    <span class="over">
                      <a href="#" class="up">UP</a>
                      <%= link_to('Delete', eval("admin_#{@element.class.name.singularize.downcase}_media_resource_path(@element, resource)"), :method => :delete, :confirm => 'Are you sure?', :class=>"delete") %>
                      <a href="#" class="down">DOWN</a>
                    </span>
                  </div>
                  <div class="bottom_media"></div>
                </li>
              <% else %>
                <li>
                  <div class="top_media"></div>
                  <div class="med_media">
                    <%= image_tag(resource.picture.url(:medium)) %>
                    <span class="over">
                      <a href="#" class="up">UP</a>
                      <%= link_to('Delete', eval("admin_#{@element.class.name.singularize.downcase}_media_resource_path(@element, resource)"), :method => :delete, :confirm => 'Are you sure?', :class=>"delete") %>
                      <a href="#" class="down">DOWN</a>
                    </span>
                    <p class="caption">No caption provided, <a href="#">add it?</a></p>
                  </div>
                  <div class="bottom_media"></div>
                </li>
              <% end -%>
            <% end -%>
            </ul>
          <% end -%>

          <div id="new_image" class="add_media">
            <h3>Add a new image</h3>
            <p>or <a href="javascript:void(null)" class="toggle_image_video">add a video</a></p>
            <%= form_for([:admin, @element, @resource], :html => { :multipart => true }) do |f| %>
              <%= error_messages_for :resource %>
              <div class="field">
                <%= f.file_field :picture %>
              </div>
              <div class="field">
                <%= f.submit 'save' %>
              </div>
            <% end -%>
          </div>

          <div id="new_video" class="add_media" style="display:none">
            <h3>Add a new video</h3>
            <p>or <a href="javascript:void(null)" class="toggle_image_video">add an image</a></p>
            <%= form_for([:admin, @element, @resource]) do |f| %>
              <%= error_messages_for :resource %>
              <div class="field">
                <%= f.text_field :vimeo_url %>
              </div>
              <div class="field">
                <%= f.submit 'save' %>
              </div>
            <% end -%>
          </div>

        </div>
        <div class="right menu">
          <%= render :partial => "admin/#{@element.class.table_name}/sidebar" %>
        </div>
      </div>
      <div class="bottom"></div>
    </div>

  </div>
  </div>


<script type="text/javascript">
$(document).ready( function() {
  $('.toggle_image_video').click(function(){
    $('#new_image').toggle();
    $('#new_video').toggle();
    return false;
  });
});
</script>
<script src="/javascripts/backoffice/application.js" type="text/javascript" charset="utf-8"></script>
