<div class="main_layout">

  <div class="block first media">
    <div class="top"></div>
    <div class="med">
      <div class="left">
        <h2 class="museo_sans"><%= @element.name.html_safe %></h2>

        <% unless @project.nil? %>
        <p class="by">by <%= link_to(@project.primary_organization.name, edit_admin_organization_path(@project.primary_organization)) %> /
          <%= @project.countries.first.name %>
        </p>
        <%end%>
        <% unless @element.media_resources.empty? %>
          <ul>
          <% @element.media_resources.order("position ASC").each do |resource| %>
            <% if resource.is_a_video? %>
              <li>
                <div class="top_media"></div>
                <div class="med_media">
                  <%= raw(CGI.unescapeHTML(resource.video_embed_html)) %>
                  <% if resource.caption? %>
                    <p class="caption"><%= resource.caption %>, <a href="#edit" class="edit_caption">edit it?</a></p>
                  <% else %>
                    <p class="caption">No caption provided, <a href="#add" class="edit_caption">add it?</a></p>
                  <% end %>

                  <div class="caption">
                    <%= form_for([:admin, @element, resource]) do |f| %>
                      <%= f.text_field :caption %>
                      <%= f.submit 'Save' %>
                    <% end %>
                  </div>

                  <span class="over">
                    <%= link_to('UP', eval("admin_#{@element.class.name.singularize.downcase}_media_resource_path(@element, resource, :up => true)"), :method => :put, :class => 'up') %>
                    <%= link_to('Delete', eval("admin_#{@element.class.name.singularize.downcase}_media_resource_path(@element, resource)"), :method => :delete, :class=>"delete", :destroy_url => eval("admin_#{@element.class.name.singularize.downcase}_media_resource_path(@element, resource)"), :att_name => 'video') %>
                    <%= link_to('DOWN', eval("admin_#{@element.class.name.singularize.downcase}_media_resource_path(@element, resource, :down => true)"), :method => :put, :class => 'down') %>
                  </span>
                </div>
                <div class="bottom_media"></div>
              </li>
            <% else %>
              <li>
                <div class="top_media"></div>
                <div class="med_media">
                  <%= image_tag(resource.picture.url(:medium)) %>
                  <span class="over">
                    <%= link_to('UP', eval("admin_#{@element.class.name.singularize.downcase}_media_resource_path(@element, resource, :up => true)"), :method => :put, :class => 'up') %>
                    <%= link_to('Delete', eval("admin_#{@element.class.name.singularize.downcase}_media_resource_path(@element, resource)"), :method => :delete, :class=>"delete", :destroy_url => eval("admin_#{@element.class.name.singularize.downcase}_media_resource_path(@element, resource)"), :att_name => "image") %>
                    <%= link_to('DOWN', eval("admin_#{@element.class.name.singularize.downcase}_media_resource_path(@element, resource, :down => true)"), :method => :put, :class => 'down') %>
                  </span>
                  <% if resource.caption? %>
                    <p class="caption"><%= resource.caption %>, <a href="#edit">edit it?</a></p>
                  <% else %>
                    <p class="caption">No caption provided, <a href="#add">add it?</a></p>
                  <% end %>

                  <div class="caption">
                    <%= form_for([:admin, @element, resource]) do |f| %>
                      <%= f.text_field :caption %>
                      <%= f.submit 'Save' %>
                    <% end %>
                  </div>

                </div>
                <div class="bottom_media"></div>
              </li>
            <% end -%>
          <% end -%>
          </ul>
        <% end -%>

        <div id="new_image" class="add_media">
          <h3 class="museo_sans">Add a new image</h3>
          <p>or <a href="javascript:void(null)" class="toggle_image_video">add a video</a></p>

          <% if !@resource.valid? && action_name != 'index' %>
            <p class="resource_error"><%= @resource.errors[:base] %></p>
          <% end %>

          <%= form_for([:admin, @element, @resource], :html => { :multipart => true }) do |f| %>
            <div class="field">
              <%= f.file_field :picture, :class => "#{'error' if !@resource.valid? && action_name != 'index'}" %>
            </div>
            <div class="field save">
              <%= f.submit 'save' %>
            </div>
          <% end -%>
        </div>

        <div id="new_video" class="add_media" style="display:none">
          <h3>Add a new video</h3>
          <p>or <a href="javascript:void(null)" class="toggle_image_video">add an image</a></p>

          <% if !@resource.valid? && action_name != 'index' %>
            <p class="resource_error"><%= @resource.errors[:base] %></p>
          <% end %>

          <%= form_for([:admin, @element, @resource]) do |f| %>
            <div class="field">
              <%= f.text_field :video_url, :value => "Enter a Vimeo or Youtube URL", :class => "video #{'error' if !@resource.valid? && action_name != 'index'}" %>
            </div>
            <div class="field">
              <%= f.submit 'save' %>
            </div>
          <% end -%>
        </div>

      </div>
      <div class="right menu">
        <%= render :partial => "admin/#{@element.class.table_name}/sidebar" %>
      </div>
    </div>
    <div class="bottom"></div>
  </div>

</div>

<script src="/javascripts/backoffice/media.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/backoffice/application.js" type="text/javascript" charset="utf-8"></script>
