
    <% unless @projects.empty? %>
      <ul class="projects">
        <% @projects.each do |project| %>
        <li <%= cycle('class=even', 'class=odd') %>>
          <h4><a href="<%= project_path(project) %>"><%= truncate(project.name, :length=>65) %></a></h4>
          <p class="author"><%= subtitle(project) %></p>
          <p class="info"><%= truncate(project.description, :length => 80) %> <a href="<%= project_path(project) %>" class="learn_more">Learn more</a></p>
        </li>
        <% end %>
      </ul>
    <% end %>

    <div class="view_more" id="projects_view_more">
      <% if @projects.total_pages > 1 && @projects.current_page < @projects.total_pages %>
        <% if @area %>
          <% if @area.is_a?(Region) %>
            <%= link_to('More projects', region_path(params.merge(:page => @projects.current_page + 1)), :id =>'view_more', :class => 'ajax') %>
          <% else %>
            <%= link_to('More projects', country_path(params.merge(:page => @projects.current_page + 1)), :id =>'view_more', :class => 'ajax') %>
          <% end %>
        <% else %>
          <%= link_to('More projects', params.merge(:page => @projects.current_page + 1), :id =>'view_more', :class => 'ajax') %>
        <% end %>
      <% end %>
    </div>
