<% unless @projects.empty? %>
<ul class="projects">
  <% @projects.each do |project| %>
  <li <%= cycle('class="styled"', '') %>>
    <p class="title pt_sans_bold"><%= project.name %></p>
    <% if project.countries.any? %>
    <p class="author">at <a href="#">Jeddah</a></p>
    <% end %>
    <p class="info"><%= truncate(project.name, :truncate => 180) %> <a href="<%= project_path(project) %>" class="learn_more">Learn more</a></p>
  </li>
  <% end %>
</ul>
<% end %>
<div id="projects_view_more">
<% if @projects.total_pages > 1 && @projects.current_page < @projects.total_pages %>
  <%= link_to('view more projects', params.merge(:page => @projects.current_page + 1),:class => 'view_more_projects pt_sans_bold ajax') %>
<% end %>
</div>