<% unless @projects.empty? %>
  <ul class="projects">
    <% @projects.each do |project| %>
    <li <%= cycle('class=even', 'class=odd') %>>
      <h4><a href="<%= project_path(project['project_id']) %>"><%= truncate(project['project_name'], :length=>60) %></a></h4>
      <p class="author"><%= subtitle(project, @site) %></p>
      <p class="info"><%= anglo(truncate(project['project_description'], :length => 175, :omission => "... <a href=\"#{project_path(project['project_id'])}\" class=\"learn_more\">Learn more</a>")) %>
      </p>
    </li>
    <% end %>
  </ul>
<% end %>

<div class="view_more" id="projects_view_more">
  <% if @projects.total_pages > 1 %>

    <% if @projects.current_page > 1 -%>
      <%= link_to('previous', pagination_link(previous_pagination_params), :id =>'previous') %>
    <% end -%>

    <% if @projects.current_page < @projects.total_pages -%>
      <%= link_to('next', pagination_link(next_pagination_params), :id =>'next') %>
    <% end -%>

  <% end %>
</div>
