
    <% unless @projects.empty? %>
      <ul class="projects">
        <% @projects.each do |project| %>
        <li <%= cycle('class=even', 'class=odd') %>>
          <h4><a href="#"><%= project.name %></a></h4>
          <p class="author"><%= subtitle(project) %></p>
          <p class="info"><%= truncate(project.description, :truncate => 180) %> <a href="<%= project_path(project) %>" class="learn_more">Learn more</a></p>
        </li>
        <% end %>
      </ul>
    <% end %>

    <div class="view_more">
      <% if @projects.total_pages > 1 && @projects.current_page < @projects.total_pages %>
        <%= link_to('More projects', params.merge(:page => @projects.current_page + 1), :id =>'view_more') %>
      <% end %>
    </div>