
    <div id="small_map"></div>

    <div id="project_layout">
      <div id="project">

        <div class="left"> <!--270px with shadow below-->
          <div class="block">
            <h3>A project by</h3>
            <div class="logo">

              <% if @project.primary_organization.logo.file? %>
                <div class="logo_bkg">
                    <a href="<%= organization_path(@project.primary_organization) %>"><%= image_tag(@project.primary_organization.logo.url) %></a>
                </div>
                <%= link_to(@project.primary_organization.name, organization_path(@project.primary_organization)) %>
              <% else %>
                <%= link_to(@project.primary_organization.name, organization_path(@project.primary_organization), :class=>'long') %>
              <% end %>
            </div>

            <% if @project.implementing_organization? %>
              <h3>Implementing organizations</h3>
              <p><%= @project.implementing_organization %></p>
            <% end %>

            <% if @project.partner_organizations? %>
              <h3 class="margin">Partner Organizations</h3>
              <p><%= @project.partner_organizations %></p>
            <% end %>
          </div>

          <div class="block">
            <h3>Project timeline</h3>
            <div class="timeline"><span></span><p class="months_left"><%= pluralize(@project.months_left, 'month', 'months') %> left</p></div>
            <p class="first_date"><%= @project.start_date.strftime("%d/%m/%Y") %></p><p class="second_date"><%= @project.end_date.strftime("%d/%m/%Y") %></p>
          </div>
          
          <% unless @project.donations.nil? || @project.donations.sum(:amount).eql?(0.0) %>
          <div class="block">
            <h3>Project funding</h3>
            <p class="budget"><%= number_with_delimiter(@project.donations.sum(:amount)) %></p>
          </div>
          <%end%>
          
          <% unless !@project.estimated_people_reached? && !@project.target?%>
          <div class="block">
            <% if @project.estimated_people_reached? %>
              <h3>People reached</h3>
              <p class="estimate"><%= @project.estimated_people_reached %> <sup>(estimate)</sup></p>
              <span estimate="<% @project.estimated_people_reached %>" class="people_amount"></span>
            <%end%>
            <% if @project.target? %>
              <h3>Target groups</h3>
              <p><%= @project.target %></p>
            <% end %>
          </div>
          <% end %>
          <div class="block">
            <% unless @project.donors.empty? %>
              <h3>Donors</h3>
              <ul>
              <% @project.donors.limit(5).each do |donor| %>
                <li><%= link_to(donor.name, donor_path(donor)) %></li>
              <% end %>
              </ul>
              <% if @project.donors.count > 5 %>
                <p>and <%= pluralize(@project.donors.count - 5, 'more donor', 'more donors') %></p>
              <% end %>
            <% end %>
          </div>

          <% unless ((@project.contact_email.nil?)||(@project.contact_email.empty?))&&(@project.contact_person.nil?)&&(@project.contact_phone_number.nil?) %>
          <div class="block">
            <h3>Contact information</h3>
            <p><strong><%= @project.contact_person %></strong><br/><%= @project.contact_phone_number %></p>
              <% unless (@project.contact_email.nil?)||(@project.contact_email.empty?) %>
                <p><%= link_to(@project.contact_email, "mailto:#{@project.contact_email}") %></p>
              <%end%>
          </div>
          <%end%>          
          <div class="block last">
            <h3>EXPORT DATA</h3>
            <div class="import_data">
                <a href="#">CSV</a><p>|</p><%= link_to 'KML', project_path(@project, :kml) %>
            </div>
          </div>

        </div>


        <div class="right"></div>
        <div class="float_right"> <!-- 670px with mest -->
          <div class="head">
            <div id="completed">
              <p>COMPLETED PROJECT</p>
            </div>
            <h1><%= @project.name %></h1>
            <p>
              <% clusters_sectors = @project.clusters + @project.sectors %>
              <% unless clusters_sectors.empty? %>
                on <%= raw(clusters_sectors.map{ |e| link_to(e.name, e.is_a?(Cluster) ? cluster_path(e) : sector_path(e)) }.to_sentence) %>
              <% end %>
              <% unless @project.countries.empty? %>
                in <%= @project.countries.first.name %>
              <% end %>
              by <%= link_to(@project.primary_organization.name, organization_path(@project.primary_organization)) %>
            </p>
          </div>

          <% unless @project.description.empty? %>
            <div class="block">
              <%= simple_format(@project.description) %>
            </div>
          <% end %>

          <% unless @project.media_resources.empty? %>
            <div class="galleryStyle">
              <% @project.media_resources.each do |media_resource| %>
                <% if media_resource.is_a_video? %>
                  <!-- <%= raw(CGI.unescapeHTML(media_resource.vimeo_embed_html)) %> -->
                <% else %>
                  <%= image_tag(media_resource.picture.url(:medium), :video=>"true") %>
                  <%= image_tag(media_resource.picture.url(:medium)) %>
                <% end %>
              <% end %>
            </div>
          <% end %>

          <% if @project.activities || @project.additional_information || @project.cross_cutting_issues %>
            <div class="block">
              <%= simple_format(@project.activities) %>
              <br/><br/>
              <%= simple_format(@project.additional_information) %>
              <br/><br/>
              <%= simple_format(@project.cross_cutting_issues) %>
            </div>
          <% end %>


          <div class="block margin">

            <!-- TODO : IMPLEMENT -->
            <h3>RELATED PROJECTS</h3>
            <ul>
              <li>
                <div class="image">
                  <img src="/images/sites/projects/default_img_project.png" title="related projects?" />
                </div>
                <div class="info">
                  <h4><a href="#">Blanket Rice Distribution</a></h4>
                  <p>by Action Against Hunger</p>
                  <p class="sub">in Khumrah</p>
                </div>
              </li>
              <li class="last">
                <div class="image">

                  <img src="/images/sites/projects/default_img_project.png" title="related projects?" />
                </div>
                <div class="info">
                  <h4><a href="#">Blanket Rice Distribution</a></h4>
                  <p>by Action Against Hunger</p>
                  <p class="sub">in Khumrah</p>
                </div>
              </li>
            </ul>
          </div>
          <!-- block margin -->
        </div>
      </div>
    

      <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
      <script src="/javascripts/plugins/galleria.js" type="text/javascript" charset="utf-8"></script>
      <script src="/javascripts/plugins/galleria.classic.js" type="text/javascript" charset="utf-8"></script>
      <script src="/javascripts/sites/project.js" type="text/javascript" charset="utf-8"></script>
