<div class="main_layout">
  <div class="block first donor_funded">
    <div class="top"></div>
    <div class="med">
      <div class="left">
        <h2 class="museo_sans"><%= @donor.name.html_safe %></h2>
        <% unless @offices.empty? %>

        <p><%= pluralize(@offices.count, ' office', ' offices') %></p>
          <ul>
            <% @offices.each do |office| %>
            <li>
              <span class="first">
                <h3><%= link_to(truncate(office.name, :length => 43), edit_admin_office_path(office), :title => office.name) %></h3>
              </span>
            </li>
            <% end -%>
          </ul>
        <% else %>
          <div class="no_results">
            <h2>No offices defined for this donor. </h2>
            <p><%= link_to 'Add one?', new_admin_office_path(:donor_id => @donor.id) %></p>
          </div>
        <% end -%>
      </div>
      <div class="right menu" style="min-height: 300px;">
        <%= render 'admin/donors/sidebar' %>
      </div>
    </div>
    <div class="bottom"></div>
  </div>
  </div>
  <script src="/javascripts/backoffice/application.js" type="text/javascript" charset="utf-8"></script>
