<%= form_for(@office, :url => (@office.new_record? ? admin_offices_path : admin_office_path(@office)), :html => { :multipart => true }) do |f| %>

  <div class="field">
    <label>NAME   <strong>*</strong></label>
    <%= f.text_field :name, :class=>"long #{'error' if !@office.errors[:name].empty? && action_name != 'new'}", :value => @office.name.try(:html_safe) %>
    <%= errors_for @office, :name %>
  </div>

  <div class="comboselect">
    <label>DONOR   <strong>*</strong></label>
    <%= f.select :donor_id, @donors, {}, :class => :"chzn-select" %>
  </div>

  <%= f.submit 'Save', :class => "#{'error' if @office.invalid? && action_name != 'new'}" %>

<% end -%>

<script src="/javascripts/plugins/jquery.mousewheel.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/plugins/jquery.jscrollpane.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/plugins/chosen/chosen.jquery.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(function(){
    $(".chzn-select").chosen({widths: {office_donor_id_chzn: 419}});
  });
</script>
