
<div class="main_layout">
  <div class="block">
    <div class="offices_search">
      <span class="top"></span>
      <div class="content padding">
        <%= form_tag(admin_offices_path, :method => :get, :class => :search) do %>
          <div class="field">
            <label>SEARCH BY TEXT</label>
            <%= text_field_tag :q, params[:q], :class => 'main_search', :placeholder => 'Search offices by name' %>
          </div>
          <div class="comboselect">
            <label>DONOR   <strong>*</strong></label>
            <%= select_tag :filter_donor_id, options_for_select(@donors, params[:filter_donor_id]), :class => :"chzn-select" %>
          </div>
          <input type="submit" value=""  />
        <% end %>
      </div>
      <span class="bottom"></span>
    </div>
  </div>

  <div class="block">
    <div class="top"></div>
    <div class="med offices_list">
      <% unless @offices.empty? %>
        <div class="header no_border">
          <h2><%= pluralize(@offices.total_entries, 'office', 'offices') %> supporting projects
            <% if params[:q].present? %>
              on <a class="remove" href="<%= admin_offices_path %>"><%= params[:q] %></a>
            <% elsif @donor_filter.present? %>
              depending on <a class="remove" href="<%= admin_offices_path %>"><%= @donor_filter.name %></a>
            <% end %>
          </h2>
          <span class="buttons">
            <a class="add_project museo_sans shadow_green" href="<%= new_admin_office_path %>">New office</a>
          </span>
        </div>
        <ul>
          <% @offices.each do |office| %>
            <li>
              <h3><%= link_to(truncate(office.name,:length=>40).html_safe, edit_admin_office_path(office)) %></h3>
              <p class="red"><a href="<%= projects_admin_donor_path(office.donor) %>"><%= office.donor.name %></a></p>
              <p><%= pluralize(office.donor.all_donated_projects.count, 'project', 'projects') %></p>
            </li>
          <% end -%>
        </ul>
      <% else %>
        <% if @offices.count > 1 %>
          <div class="no_results">
            <h2>There are not offices for your search</h2>
            <p>Try to search with different terms or simply <a href="<%= admin_offices_path %>">browse all offices</a>.</p>
          </div>
        <% else %>
          <div class="no_results">
            <h2>There are not offices in the site</h2>
            <p>Try to <a href="/admin/offices/new">add a new one</a>.</p>
          </div>
        <% end %>
      <% end -%>
    </div>
    <div class="bottom_grey paginate">
      <%= will_paginate(@offices) %>
    </div>
  </div>

  <div class="add_new">
    <a href="<%= new_admin_office_path %>" class="museo_sans">
      Add a new office<br/>
      <strong>There are already <%= pluralize(@offices.count, 'office', 'offices') %> registered</strong>
    </a>
  </div>
</div>

<script src="/javascripts/backoffice/application.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/plugins/jquery.mousewheel.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/plugins/jquery.jscrollpane.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/plugins/chosen/chosen.jquery.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(function(){
    $(".chzn-select").chosen({widths: {filter_donor_id_chzn: 160}});
  });
</script>
