
  <div class="main_head">
    <div class="inner_main_head">
      <div class="left">
        <h2 class="cluster_sector_name"><%= @site.word_for_clusters %></h2>
        <h1 class="cluster_sector_name"><%= @data.name %></h1>
        <div class="float_head">
          <h2 class="cluster_sector_name"><%= @site.word_for_clusters %></h2>
          <h1 class="cluster_sector_name"><%= @data.name %></h1>
          <span class="<%= @data.css_class %> icon_watermark"></span>
        </div>
      </div>
      <div class="right">
      </div>
    </div>
  </div>


  <div id="map"></div>
  <a href="#zoom_in" id="zoomIn" onclick="zoomIn()"></a>
  <a href="#zoom_out" id="zoomOut" onclick="zoomOut()"></a>
  <div class="map_style">
    <p>PLAIN</p>
    <ul>
      <li><a id="plain_map" href="#plain">PLAIN</a></li>
      <li><a id="satellite_map" href="#satellite">SATELLITE</a></li>
    </ul>
  </div>


  <div id="layout">
    <div id="left_column">
      <!-- LEFT PART -->
      <div class="left"></div>
      <div class="outer_float">
        <div class="float_left">
          <div class="head">
            <h2>OVERVIEW</h2>
          </div>
          <% unless @data.projects_regions(@site).empty?%>
          <div class="block statistics less">
            <h3>PROJECTS BY LOCATION</h3>
            <%= raw(projects_by_location(@data.projects_regions(@site))) %>
          </div>
          <%end%>
          <% unless @data.donors(@site).empty? %>
          <div class="block">
            <h3>DONORS IN THIS <%= @site.word_for_clusters.chop %></h3>
            <ul id="donors_list">
              <% index = 1 %>
              <% @data.donors(@site).each do |donor| %>
                <li class="<%= (index>10)? "out" : "" %>"><%= link_to(donor.name, donor_path(donor)) %></li>
                <% index = index + 1 %>
              <% end %>
            </ul>
            <% if index>11 %>
              <a id="show_donor_list">See more donors</a>
            <% end %>
          </div>
          <%end%>
          <% unless @site.projects_sectors_or_clusters.empty? %>
          <div class="block margin">
            <h3>OTHER <%= @site.word_for_cluster_sector.upcase %></h3>
            <ul class="clusters">
            <% @site.projects_sectors_or_clusters.each do |category, count| %>
              <% next if category == @data %>
              <%unless category.name.eql?('N/A') %>
              <li class="<%= category.css_class %> icon_other">
                <%= link_to(category.name, url_for(category)) %>
                <p><%= pluralize(count, 'project', 'projects') %></p>
              </li>
              <%end%>
            <% end %>
            </ul>
          </div>
          <% end %>
        </div>
      </div>

      <!-- RIGHT PART -->
      <div class="right">
        <h3><%= @data.name.upcase %> PROJECTS</h3>
        <div id="projects">
          <%= render :partial => 'projects/projects' %>
        </div>
      </div>
    </div>

    <script src="/javascripts/sites/location.js" type="text/javascript" charset="utf-8"></script>

    <!-- MAP -->
    <script type="text/javascript">
      var bbox = [{"lat":18.93205126204314, "lon":-72.6361083984375},{"lat":18.7, "lon":-72.6361083984375}];
      var chco = "F7F7F7,8BC856,336600";
      var chf = "bg,s,2F84A3";
      var chld = "HT-AR|HT-CE|HT-GR|HT-NI|HT-ND|HT-NE|HT-OU|HT-SD|HT-SE";
      var chd = "t:0,10,20,30,40,50,60,70,80";
      var max_count = '<%=@map_data_max_count%>';
      //var map_data = <%=raw(@map_features_json)%>;
      var map_data = [{"id":1, "lat":18.93205126204314, "lon":-72.6361083984375, "count":10, "url":"/organizations/10", "name":"Madrid"},{"id":3, "lat":18.7, "lon":-72.6361083984375, "count":5, "url":"/region/10", "name":"Haiti"}];
      var map_type = 'cluster_map';
      var theme = "<%=@site.theme_id%>";
    </script>

    <script src="/javascripts/sites/mercatorProjection.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="/javascripts/sites/IOMMarker.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/sites/labels_style.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/sites/overview_map.js" type="text/javascript" charset="utf-8"></script>
