<ul>
  <li <%= selected_if_current_page(edit_admin_organization_path(@organization), (!params[:site_id].nil? || action_name == 'update')) %>>
    <div class="bottom_selected">
      <%= link_to('Basic information', edit_admin_organization_path(@organization), :class=>"basic") %>
      <span class="list">
        <% if show_sites? %>
          <% Site.all.each do |site| %>
            <p><%= link_to(site.name, organization_site_specific_information_admin_organization_path(@organization, site)) %></p>
          <% end %>
        <% end %>
      </span>
    </div>
  </li>
  <li <%= selected_if_current_page(admin_organization_projects_path(@organization)) %>>
    <div class="bottom_selected">
      <%= link_to('Organization projects', admin_organization_projects_path(@organization)) %><% if @organization.projects.present? %> <p><span><%=@organization.projects.count%></span></p><% end %>
    </div>
    </li>
  <% if false -%>
  <li <%= selected_if_current_page(admin_organization_media_resources_path(@organization)) %>>
    <div class="bottom_selected">
    <%= link_to("Media", admin_organization_media_resources_path(@organization)) %><% if !@organization.media_resources.empty? %> <p><span><%=@organization.media_resources.count%></span></p><% end %>
    </div>
  </li>
  <% end -%>
  <li <%= selected_if_current_page(admin_organization_resources_path(@organization)) %>>
        <div class="bottom_selected">
          <%= link_to("Resources", admin_organization_resources_path(@organization)) %><% if !@organization.resources.empty? %> <p><span><%=@organization.resources.count%></span></p><% end %>
        </div>
  </li>

  <% if current_user.admin? -%>
  <li <%= selected_if_current_page(admin_organization_activity_path(@organization)) %>>
    <%= link_to("Activity", admin_organization_activity_path(@organization)) %>
  </li>
  <% end -%>
</ul>

<% if current_user.admin? -%>
  <div class="export_import">
    <div id="links">
      <%= link_to 'Export Projects', admin_export_projects_path(:organization_id => @organization.to_param, :format => :xls) %>
      </div>
  </div>
  <div class="delete">
    <h5>DELETE THIS ORGANIZATION</h5>
    <p>Clicking the link below will permanently delete this organization and its references within the sites</p>
    <%= link_to("Delete this ORGANIZATION", '#', :destroy_url => admin_organization_path(@organization), :att_name=>"organization") %>
  </div>
<% end -%>
