<%= form_for(@organization, :url => (@organization.new_record? ? admin_organizations_path : admin_organization_path(@organization)), :html => { :multipart => true }) do |f| %>

  <div class="specific_edit closed">
    <div class="top"></div>
    <div class="med">
      <span>
        <h3 class="museo_sans">BASIC INFORMATION</h3>
        <p class="paylock close"><a href="#">Click to edit the specific fields</a></p>
      </span>

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, :class => "long #{'error' if !@organization.errors[:name].empty? && action_name != 'new'}" %>
        <%= errors_for @organization, :name %>
      </div>

      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>

      <div class="short_field">
        <%= f.label :website %>
        <%= f.text_field :website, :class => "short" %>
      </div>

      <div class="short_field">
        <%= f.label :national_staff %>
        <%= f.text_field :national_staff, :class => "short people" %>
      </div>

      <div class="short_field last">
        <%= f.label :international_staff %>
        <%= f.text_field :international_staff, :class=>"short people" %>
      </div>
    </div>
    <div class="bottom"></div>
  </div>

  <div class="specific_edit closed">
    <div class="top"></div>
    <div class="med">
      <span>
        <h3 class="museo_sans">FUNDING</h3>
        <p class="paylock close"><a href="#">Click to edit the specific fields</a></p>
      </span>
      <div class="short_field">
        <%= f.label :private_funding %>
        <%= f.text_field :private_funding, :value => number_with_precision(f.object.private_funding, :precision => 2, :strip_insignificant_zeros => true, :delimiter => ','), :class => "short budget" %>
      </div>

      <div class="short_field">
        <%= f.label :usg_funding %>
        <%= f.text_field :usg_funding, :value => number_with_precision(f.object.usg_funding, :precision => 2, :strip_insignificant_zeros => true, :delimiter => ','), :class => "short budget" %>
      </div>

      <div class="short_field">
        <%= f.label :other_funding %>
        <%= f.text_field :other_funding, :value => number_with_precision(f.object.other_funding, :precision => 2, :strip_insignificant_zeros => true, :delimiter => ','), :class => "short budget" %>
      </div>
    </div>
    <div class="bottom"></div>
  </div>

  <div class="specific_edit closed">
    <div class="top"></div>
    <div class="med">
      <span>
        <h3 class="museo_sans">SOCIAL LINKS</h3>
        <p class="paylock close"><a href="#">Click to edit the specific fields</a></p>
      </span>
      <div class="field">
        <%= f.label :twitter %>
        <%= f.text_field :twitter, :class => "short twitter" %>
      </div>

      <div class="field">
        <%= f.label :facebook %>
        <%= f.text_field :facebook, :class => "long facebook" %>
      </div>
    </div>
    <div class="bottom"></div>
  </div>

  <div class="specific_edit closed">
    <div class="top"></div>
    <div class="med">
      <span>
        <h3 class="museo_sans">CONTACT INFORMATION</h3>
        <p class="paylock close"><a href="#">Click to edit the specific fields</a></p>
      </span>
      <div class="short_field">
        <%= f.label :contact_name %>
        <%= f.text_field :contact_name, :class => "short" %>
      </div>

      <div class="short_field last">
        <%= f.label :contact_position %>
        <%= f.text_field :contact_position, :class => "short" %>
      </div>

      <div class="field">
        <%= f.label :hq_address %>
        <%= f.text_field :hq_address, :class => "address" %>
      </div>

      <div class="short_field">
        <%= f.label :contact_city %>
        <%= f.text_field :contact_city, :class => "short" %>
      </div>

      <div class="short_field last">
        <%= f.label :contact_zip %>
        <%= f.text_field :contact_zip, :class => "short" %>
      </div>

      <div class="short_field">
        <%= f.label :contact_state %>
        <%= f.text_field :contact_state, :class => "short" %>
      </div>

      <div class="short_field">
        <%= f.label :contact_email %>
        <%= f.text_field :contact_email, :class => "short" %>
      </div>

      <div class="short_field last">
        <%= f.label :contact_phone_number %>
        <%= f.text_field :contact_phone_number, :class => "short" %>
      </div>
    </div>
    <div class="bottom"></div>
  </div>

  <div class="specific_edit closed">
    <div class="top"></div>
    <div class="med">
      <span>
        <h3 class="museo_sans">DATA CONTACT INFORMATION</h3>
        <p class="paylock close"><a href="#">Click to edit the specific fields</a></p>
      </span>
      <div class="short_field">
        <%= f.label :main_data_contact_name, 'DATA CONTACT NAME' %>
        <%= f.text_field :main_data_contact_name, :class => "short" %>
      </div>

      <div class="short_field last">
        <%= f.label :main_data_contact_position, 'DATA CONTACT POSITION' %>
        <%= f.text_field :main_data_contact_position, :class => "short" %>
      </div>

      <div class="short_field">
        <%= f.label :main_data_contact_city, 'DATA CONTACT CITY' %>
        <%= f.text_field :main_data_contact_city, :class => "short" %>
      </div>

      <div class="short_field last">
        <%= f.label :main_data_contact_zip, 'DATA CONTACT ZIP' %>
        <%= f.text_field :main_data_contact_zip, :class => "short" %>
      </div>

      <div class="short_field">
        <%= f.label :main_data_contact_state, 'DATA CONTACT STATE' %>
        <%= f.text_field :main_data_contact_state, :class => "short" %>
      </div>

      <div class="short_field">
        <%= f.label :main_data_contact_email, 'DATA CONTACT EMAIL' %>
        <%= f.text_field :main_data_contact_email, :class => "short" %>
      </div>

      <div class="short_field last">
        <%= f.label :main_data_contact_phone_number, 'DATA CONTACT PHONE NUMBER' %>
        <%= f.text_field :main_data_contact_phone_number, :class => "short" %>
      </div>
    </div>
    <div class="bottom"></div>
  </div>


  <div class="specific_edit closed">
    <div class="top"></div>
    <div class="med">
      <span>
        <h3>MEDIA CONTACT INFORMATION</h3>
        <p class="paylock close"><a href="#">Click to edit the specific fields</a></p>
      </span>
      <div class="short_field">
        <%= f.label :media_contact_name %>
        <%= f.text_field :media_contact_name, :class=>"short" %>
      </div>
      <div class="short_field last">
        <%= f.label :media_contact_position %>
        <%= f.text_field :media_contact_position, :class=>"short" %>
      </div>
      <div class="short_field">
        <%= f.label :media_contact_email %>
        <%= f.text_field :media_contact_email, :class=>"short" %>
      </div>

      <div class="short_field last">
        <%= f.label :media_contact_phone_number %>
        <%= f.text_field :media_contact_phone_number, :class=>"short" %>
      </div>
    </div>
    <div class="bottom"></div>
  </div>


  <div class="specific_edit closed">
    <div class="top"></div>
    <div class="med">
      <span>
        <h3 class="museo_sans">DONATION INFORMATION</h3>
        <p class="paylock close"><a href="#">Click to edit the specific fields</a></p>
      </span>
      <div class="field">
        <%= f.label :donation_address %>
        <%= f.text_field :donation_address, :class => "long" %>
      </div>

      <div class="tiny_field last">
        <%= f.label :zip_code %>
        <%= f.text_field :zip_code, :class => "tiny" %>
      </div>

      <div class="short_field">
        <%= f.label :city %>
        <%= f.text_field :city, :class => "short" %>
      </div>

      <div class="short_field last">
        <%= f.label :state %>
        <%= f.text_field :state, :class => "short" %>
      </div>

      <div class="short_field">
        <%= f.label :donation_phone_number %>
        <%= f.text_field :donation_phone_number, :class => "short" %>
      </div>

      <div class="short_field">
        <%= f.label :donation_website %>
        <%= f.text_field :donation_website, :class => "short" %>
      </div>

      <div class="short_field last">
        <%= f.label :donation_country %>
        <%= f.text_field :donation_country, :class=>"short" %>
      </div>
    </div>
    <div class="bottom"></div>
  </div>


  <% if action_name == 'specific_information' %>
    <%= hidden_field_tag :site_id, params[:site_id] %>
  <% end %>
  <div class="submit floating">
    <%= f.submit 'Save', :class => "#{'error' if @organization.invalid? && action_name != 'new'}" %>
  </div>

<% end -%>

<script src="/javascripts/backoffice/organization.js" type="text/javascript" charset="utf-8"></script>
