    <div class="main_layout">
      <div class="block">
        <div class="long_search">
          <span class="top"></span>
          <div class="content padding">
            <%= form_tag(admin_organizations_path, :method => :get, :class => 'search') do %>
              <label>SEARCH BY TEXT</label>
              <input type="text" value="<%= params[:q] || 'Search Organizations by name, place,...'%>" name="q" class="main_search"/>
              <input type="submit" value="" />
            <% end %>
          </div>
          <span class="bottom"></span>
        </div>
      </div>

      <div class="block">
        <div class="top"></div>
        <div class="med ngos_list">
          <% unless @organizations.empty? %>
            <div class="header no_border">
              <h2><%= pluralize(@organizations.total_entries, 'Organization', 'Organizations') %> implementing projects
                <% if params[:q]%>
                on <a class="remove" href="<%= admin_organizations_path %>"><%= params[:q] %></a>
                <% end %>
              </h2>
              <span class="buttons">
                <a class="add_project museo_sans shadow_green" href="<%= new_admin_organization_path %>">New org.</a>
                <a class="import_csv museo_sans shadow_black" href="<%= admin_export_organizations_path(:format => 'csv') %>">Export orgs.</a>
              </span>
            </div>
            <ul>
              <% @organizations.each do |organization| %>
                <li>
                  <h3><%= link_to(truncate(organization.name, :length => 60), edit_admin_organization_path(organization)) %></h3>
                  <p class="red"><%= link_to(pluralize(organization.projects.count,' project','projects'), admin_organization_projects_path(organization)) %></a></p>
                  <p><a href="mailto:<%= organization.contact_email %>"><%= truncate(organization.contact_email, :length => 20, :omission => '...') %></a></p>
                </li>
              <% end -%>
            </ul>
          <% else %>
            <% if Organization.count>1 %>
              <div class="no_results">
                <h2>There are not organizations for your search</h2>
                <p>Try to search with different terms or simply <a href="<%= admin_organizations_path %>">browse all organizations</a></p>
              </div>
            <% else %>
              <div class="no_results">
                <h2>There are not organizations in the site</h2>
                <p>Try to <a href="<%= new_admin_organization_path %>">add new one</a>.</p>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="bottom_grey paginate">
          <%= will_paginate(@organizations) %>
        </div>
      </div>

      <div class="add_new">
        <a href="<%= new_admin_organization_path %>">
          Add a new Organizations<br/>
          <strong>There are already <%= pluralize(Organization.count, 'Organization', 'Organizations') %> registered</strong>
        </a>
      </div>
    </div>

