
    <div class="main_layout">
      <div class="block">
        <div class="two_donors">
          <%= form_tag(admin_organizations_path, :method => :get) do %>
            <label>SEARCH BY TEXT</label>
            <input type="text" value="<%= params[:q] || 'Search NGOs by name, place,...'%>" name="q" />
            <input type="submit" value="" />
          <% end %>
        </div>
        <div class="one_donor">
          <p><%= Organization.count %></p>
          <label><%= Organization.count == '1' ? 'NGO' : 'NGOs' %><br/>registered</label>
          <a href="<%= new_admin_organization_path %>">Add new NGO</a>
        </div>
      </div>

      <div class="block">
        <div class="top"></div>
        <div class="med ngos_list">
          <h2><%= pluralize(@organizations.total_entries, 'NGO', 'NGOs') %> implementing projects
            <% if params[:q]%>
            on <a class="remove" href="#"><%= params[:q] %></a>
            <% end %>
          </h2>
          <% unless @organizations.empty? %>
          <ul>
            <% @organizations.each do |organization| %>
              <li>
                <h3><%= link_to(organization.name, edit_admin_organization_path(organization)) %></h3>
                <p class="red"><%= link_to(pluralize(organization.projects.count,' project','projects'), edit_admin_organization_path(organization)) %></a></p>
                <p><%= organization.contact_email%></p>
              </li>
            <% end -%>
          </ul>
          <% end %>
        </div>
        <div class="bottom_grey paginate">
          <%= will_paginate(@organizations) %>
        </div>
      </div>

      <div class="add_new">
        <a href="<%= new_admin_organization_path %>">
          Add a new NGO<br/>
          <strong>There are already <%= pluralize(Organization.count, 'NGO', 'NGOs') %> registered</strong>
        </a>
      </div>
    </div>