  <div class="main_layout">
    <div class="block first donor_funded">
      <div class="top"></div>
      <div class="med">
        <div class="left projects_list">
          <h2><%= @organization.name %></h2>
          <p><%= pluralize(@projects.total_entries, 'project', 'projects') %> by this Organization</p>

          <% unless @projects.empty? %>
            <table collapse="0">
              <tbody>
              <% @projects.each do |project| %>
                <tr>
                  <td width="625">
                    <span>
                      <h3><a href="<%= edit_admin_project_path(project) %>"><%= project.name %></a></h3>
                      <p class="margin"><a class="project_status <%= project.finished? ? 'closed' : 'active' %>">
                        <%= project.finished? ? 'Closed' : 'Active' %></a>
                        <% if project.end_date.present? -%>
                          <% if project.finished? -%>
                            <%= project.end_date.strftime("since %b #{project.end_date.day.ordinalize}, %Y") %>
                          <% else -%>
                            <%= project.end_date.strftime("until %b #{project.end_date.day.ordinalize}, %Y") %>
                          <% end -%>
                        <% end -%>
                      </p>
                    </span>
                  </td>
                  <td width="150" class="odd center">
                    <p><%= project.countries.first.try(:name) %></p>
                  </td>
                </tr>
              <% end -%>
              </tbody>
            </table>
          <% end -%>
        </div>
        <div class="right menu">
          <%= render 'admin/organizations/sidebar' %>
        </div>
      </div>
      <div class="bottom_projects_org">
        <%= will_paginate(@projects) %>
      </div>
    </div>

    <div class="add_new">
      <a href="<%= new_admin_project_path %>">
        Create a new project<br/>
        <strong>Adding a project to this Organization you will be adding it to the global database</strong>
      </a>
    </div>

  </div>

  <script src="/javascripts/backoffice/application.js" type="text/javascript" charset="utf-8"></script>


