<%= form_for(@settings, :url => admin_setting_path(@settings)) do |f| %>

  <div class="field">
    <%= f.label :default_email %>
    <%= f.text_field :default_email %>
  </div>

  <div class="field">
    <%= f.label :default_contact_name %>
    <%= f.text_field :default_contact_name %>
  </div>

  <div class="field">
    <%= f.label :geoiq_parameter_1 %>
    <%= f.text_field :geoiq_parameter_1 %>
  </div>

  <div class="field">
    <%= f.label :geoiq_parameter_2 %>
    <%= f.text_field :geoiq_parameter_2 %>
  </div>

  <div class="field">
    <%= f.submit 'Save' %>
  </div>

<% end -%>