
<div class="main_head">
  <div class="inner_main_head">
    <div class="left">
      <div class="float_head">
        <h3>AMERICA</h3>      
        <h1><%= @country.name %></h1>
      </div>
    </div>
    <div class="right">
      <p>Campeche (Spanish pronunciation: [kamˈpetʃe]) is one of the 31 states which, with the Federal District, comprise the 32 Federal Entities of Mexico. It is bordered by the states of Yucatán to the north east, Quintana Roo to the east, and Tabasco to the south west. To the south it is bordered by the Petén department of Guatemala and to the west by the Gulf of Mexico.</p>
      <p class="provided">Description provided by Wikipedia <a href="#">Read full article</a></p>
      <span class="wikipedia"/>
    </div>
  </div>
</div>

  <div id="map"></div>

  <div id="layout">
    <div id="left_column">
    
      <!-- LEFT PART -->
      <div class="left"></div> <!-- H"J"ACK -->
      <div class="outer_float">
        <div class="float_left">
          <div class="head">
            <h2>FACTSHEET</h2>
          </div>
    
          <div id="secondary_map"></div>
        
          <div class="block statistics">
            <h3>PROJECTS BY CLUSTER</h3>
            <ul class="statistics_list">
              <% @country.projects_clusters(@site)[0...3].each do |cluster,count| %>
                <li><a class="<%= cluster_class(cluster) %>"><span class="aller" style="width:<%= cluster_width(count) %>px"><%= count %></span></a></li>
              <% end %>
            </ul>
            <% if @country.projects_clusters(@site).size > 3 %>
              <% total =  @country.projects_clusters(@site).size - 3 %>
              <!-- <%= link_to(pluralize(total, 'project more on other clusters', 'projects more on other clusters') ,'#') %> -->
            <% end %>
          </div>
    
          <% unless @country.regions_projects(@site).empty? %>
          <div class="block">
            <h3>PROJECTS BY REGION</h3>
            
            <ul>
              <% @country.regions_projects(@site).each do |region, count| %>
                <li><%= link_to(region.name, region_path(region)) %> - <%= count %></li>
              <% end %>
            </ul>
          </div>
          <% end %>    
          <% unless @country.donors(@site).empty? %>          
          <div class="block">
            <h3>DONORS</h3>
              <ul>
                <% @country.donors(@site)[0...10].each do |donor| %>
                <li><%= link_to(donor.name, donor_path(donor)) %></li>
                <% end %>
              </ul>
              <% if @country.donors(@site).size > 10 %>
                <p>and <%= pluralize(@country.donors(@site).size - 10, 'more donor', 'more donors') %></p>
              <% end %>
          </div>
          <% end %>          
      
          <div class="block margin">
            <h3>PROJECTS IN NEIGHBORING COUNTRIES</h3>
            <ul>
              <li><a href="#">Venezuela</a> - 12 projects</li>
              <li><a href="#">Venezuela</a> - 12 projects</li>
              <li><a href="#">Venezuela</a> - 12 projects</li>
              <li><a href="#">Venezuela</a> - 12 projects</li>
            </ul>
          </div>
        </div>
        <!-- div.float_left -->
      </div> 
      <!-- <div class="outer_float"> -->
        
      <!-- RIGHT PART -->
      <div class="right">
        <h3><%= pluralize(@country.projects.site(@site).size, 'PROJECT', 'PROJECTS') %> AT <%= @country.name.upcase %></h3>
        <div id="projects">
          <%= render :partial => 'projects/projects' %>
        </div>
        <div class="view_more">
          <a id="view_more">More projects</a>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script> 
    <script src="/javascripts/sites/location.js" type="text/javascript" charset="utf-8"></script>