
  <%if false%>
    <% content_for :js do%>
      <%= javascript_include_tag 'http://geocommons.com/javascripts/f1.api.js', '/javascripts/sites/map.js' %>
      <script>
        $(document).ready( function() {
          initialize();
        });
      </script>
    <%end%>
  <%end%>


  <div class="main_head">
    <div class="inner_main_head">
      <div class="left">
        <h1><%= @organization.name %></h1>
        <%unless @organization.projects_count(@site).eql?(0) %><p><%= pluralize(@organization.projects_count(@site), 'project', 'projects') %></p><%end%>
        <div class="float_head">
          <h1><%= @organization.name %></h1>
          <%unless @organization.projects_count(@site).eql?(0) %><p><%= pluralize(@organization.projects_count(@site), 'project', 'projects') %></p><%end%>
        </div>
      </div>
      <div class="right">
        <%= anglo(simple_format(truncate(@organization.description, :length => 800))) %></p>
      </div>
    </div>
  </div>


  <div id="map"></div>
  <a href="#zoom_in" id="zoomIn" onclick="zoomIn()"></a>
  <a href="#zoom_out" id="zoomOut" onclick="zoomOut()"></a>
  <div class="map_style">
    <p>PLAIN</p>
    <ul>
      <li><a id="plain_map" href="#plain">PLAIN</a></li>
      <li><a id="satellite_map" href="#satellite">SATELLITE</a></li>
    </ul>
  </div>


  <div id="layout">
    <div id="left_column">

      <!-- LEFT PART -->
      <div class="left"></div> <!-- H"J"ACK -->
      <div class="outer_float">
        <div class="float_left">
          <div class="head">
            <h2>OVERVIEW</h2>
          </div>

          <% unless @organization.donations.nil? || @organization.donations.sum(:amount).eql?(0.0) %>
          <div class="block">
            <h3>BUDGET FOR FOOD SECURITY</h3>
            <p class="budget"><%= number_with_delimiter(@organization.donations.sum(:amount)) %></p>
            <% donors_total = @organization.donors_count %>
            <p><%= link_to(pluralize(donors_total, 'donor to this organization', 'donors to this organization'),'#') %> </p>
          </div>
          <%end%>

          <% unless @site.nil? || @organization.projects_clusters_sectors(@site).empty? %>
          <div class="block statistics">
            <h3>PROJECTS BY <%= @site.word_for_cluster_sector.upcase.chop %></h3>
            <ul class="statistics_list">
              <% @organization.projects_clusters_sectors(@site)[0...3].each do |category,count| %>
                <li>
                  <div class="tooltip">
                    <span class="body_tooltip">
                      <label><%= category.name %></label>
                    </span>
                    <span class="bottom_tooltip"></span>
                  </div>
                  <a class="<%= category.css_class %> icon_statistics" href="<%= url_for(category) %>"><span class="aller" style="width:<%= cluster_sector_width(count, @organization.projects_clusters_sectors(@site)[0...3].map{|e| e.last}.max) %>px"><%= count %></span></a>
                </li>
              <% end %>
            </ul>
          </div>
          <% end %>

          <% unless @organization.projects_regions(@site).empty? %>
          <div class="block statistics less">
            <h3>PROJECTS BY LOCATION</h3>
            <%= raw(projects_by_location(@site, @organization.projects_regions(@site))) %>
          </div>
          <% end %>
          <% unless @organization.resources(@site).empty? %>
            <div class="block resources">
              <h3>ADDITIONAL RESOURCES</h3>

              <% @organization.resources(@site).each do |resource| %>
                <ul>
                  <li><a href="<%= resource.url %>" target="_blank"><%= resource.title %></a></li>
                </ul>
              <%end%>
            </div>
          <%end%>
          <%unless @organization.contact_name.nil? &&  @organization.contact_position.nil? && @organization.hq_address.nil? && @organization.contact_zip.nil? && @organization.contact_phone_number.nil? %>
          <div class="block">
            <h3>CONTACT INFORMATION</h3>
            <p><strong><%= @organization.contact_name %></strong><br/><%= @organization.contact_position %><br/><%= @organization.hq_address %> <%= @organization.contact_zip %></p>
            <p><%= @organization.contact_phone_number %><br/><% unless (@organization.contact_email.nil?)||(@organization.contact_email.empty?) %><%= link_to(@organization.contact_email, "mailto:#{@organization.contact_email}") %><%end%></p>
          </div>
          <%end%>
          <% unless @organization.donation_phone_number.nil? && @organization.donation_website.nil? %>
          <div class="block green">
            <h3>DONATION INFORMATION</h3>
            <p><strong>Donations</strong><br/><%= @organization.donation_address %></p>
            <p><%= @organization.donation_phone_number %><br/><%= link_to(@organization.donation_website, @organization.donation_website) %></p>
          </div>
          <%end%>
          <% unless @organization.twitter.nil? &&  @organization.facebook.nil? && @organization.website.nil? %>
          <div class="block">
            <% if @organization.logo? %>
              <%= image_tag(@organization.logo.url(:small), :class=>'logo') %>
            <%end%>
            <% if @organization.twitter? || @organization.facebook? %>
            <p class="social">
              <% if @organization.twitter? %>
                <%= link_to("follow us", "http://twitter.com/#{@organization.twitter}", :class=>"twitter", :target=>"_blank") %>
              <% end %>
              <% if @organization.twitter? &&  @organization.facebook? %> / <% end %>
              <% if @organization.facebook? %>
                <%= link_to("visit our page", "http://facebook.com/#{@organization.facebook}", :class=>"facebook", :target=>"_blank") %>
                <% end %>
            </p>
            <% end %>
            <% if @organization.website? %>
              <p class="website"><%= link_to(@organization.website, @organization.website, :rel => 'nofollow', :target => '_blank') %></p>
            <% end %>
          </div>
          <%end%>
        </div>
      </div>

      <!-- RIGHT PART -->
      <div class="right">
        <h3><%= pluralize(@organization.projects_count(@site), 'PROJECT', 'PROJECTS') %> BY <%= @organization.name.upcase %><br/><strong>(One project may take place in multiple locations)</strong></h3>
        <div id="projects">
          <%= render :partial => 'projects/projects' %>
        </div>
      </div>
    </div>

    <!-- MAP -->
    <script type="text/javascript">
      var bbox = <%=raw(@overview_map_bbox.to_json)%>;
      var chco = "<%=@overview_map_chco%>";
      var chf = "<%=@overview_map_chf%>";
      var chld = "<%=@chld%>";
      var chd = "<%=@chd%>";
      var map_data = <%=raw(@map_data)%>;
      var max_count = <%=@map_data_max_count%>;
      var map_type = 'overview_map';
      var theme = "<%=@site.theme_id%>";
    </script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <%=raw(javascript_include_merged(:organizations_show)) %>
