<div id="left_info_organization">
  <div class="content">
    <div class="header">
      <h2 class="pt_sans_bold shadow"><%= @organization.name %></h2>
      <p class="info_subtitle">Implementing <%= pluralize(@organization.projects.count, 'project', 'projects') %></p>
    </div>
    <div class="body_info">
      <div class="content_info">
        <% if @organization.description? %>
        <p class="main_info"><%= @organization.description %></p>
        <% end %>

        <div class="share_section">
          <% if @organization.twitter? %>
          <a class="twitter" href="<%= @organization.twitter %>">follow us</a>
          <% end %>
          <% if @organization.twitter? && @organization.facebook? %><p>/</p><% end %>
          <% if @organization.facebook? %>
          <a class="facebook" href="<%= @organization.facebook %>">follow us</a>
          <% end %>
          <% if @organization.website? %>
          <a href="<%= @organization.website %>" class="link_org" target="_blank" rel="nofollow"><%= @organization.website %></a>
          <% end %>
        </div>
      </div>
    </div>
    <!-- BUDGET -->
    <div class="body_info short">
      <div class="content_info">
        <p class="title_section pt_sans_bold">BUDGET</p>
      </div>
    </div>
    <!-- CONTINUE BUDGET - GRID -->
    <div class="body_info grid">
      <div class="real_content">
        <div class="content_info">
          <p class="coin aller">$</p>
          <p class="amount aller"><%= number_with_delimiter(@organization.donations.sum(:amount)) %></p>
          <p class="summarize_info"><%= pluralize(@organization.donors_count, 'donor', 'donors') %> to this organization</p>
        </div>
      </div>
    </div>
    <!-- CLUSTER -->
    <div class="body_info grid">
      <div class="real_content">
        <div class="content_info">
          <p class="title_section pt_sans_bold"><%= @organization.name.upcase %> PROJECTS BY <%= @site.word_for_clusters.upcase %></p>
          <ul class="statistics_list">
            <!-- TODO: assign cluster to class
            <li>
              <a class="plus"><span class="aller" style="width:203px"><p>13</p></span></a>
            </li>
            <li>
              <a class="drop"><span class="aller" style="width:153px"><p>9</p></span></a>
            </li>
            <li>
              <a class="drop"><span class="aller" style="width:23px"><p>2</p></span></a>
            </li>
            -->
            <% @organization.projects_clusters.each do |k,v| %>
            <li>
              <a class="drop"><span class="aller" style="width:153px"><p><%= v.size %></p></span></a>
            </li>
            <% end %>
          </ul>
          <p class="summarize_info">3 projects more on other clusters</p>
        </div>
      </div>
    </div>
    <!-- PROJECTS BY AREA -->
    <div class="body_info grid">
      <div class="real_content">
        <div class="content_info">
          <p class="title_section pt_sans_bold"><%= @organization.name %> PROJECTS BY <%= @site.word_for_sectors.upcase %></p>
          <div class="pie_chart"></div>
          <ul class="info_pie_chart">
            <li class="category1"><p class="name_category">Quito</p> - 9</li>
            <li class="category2"><p class="name_category">Machachi</p> - 7</li>
            <li class="category3"><p class="name_category">Manta</p> - 4</li>
            <li class="category4"><p class="name_category other">Other areas</li>
          </ul>
        </div>
      </div>
    </div>
    <% unless @organization.resources.empty? %>
    <div class="body_info grid">
      <div class="real_content resources">
        <div class="content_info">
          <p class="title_section pt_sans_bold">ADDITIONAL RESOURCES</p>
          <ul class="additional_resources">
            <% @organization.resources.each do |resource| %>
            <li><%= link_to(resource.name, resource.url, :rel => 'nofollow') %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <% end %>
    <!-- CONTACT INFORMATION -->
    <div class="body_info grid">
      <div class="real_content contact">
        <div class="content_info">
          <p class="title_section pt_sans_bold">CONTACT INFORMATION</p>
          <div class="contact_info">
            <p class="name"><%= @organization.contact_name %></p>
            <p class="direction"><%= @organization.contact_position %></p>
            <p class="direction"><%= @organization.hq_address %></p>
            <p class="direction"><%= @organization.contact_zip %> <%= @organization.contact_state %></p>
            <p class="telephone"><%= @organization.contact_phone_number %></p>
            <p><a href="mailto:<%= @organization.contact_email %>" class="mail"><%= @organization.contact_email %></a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- DONATIONS INFORMATION -->
    <div class="body_info grid">
      <div class="real_content donations">
        <div class="content_info">
          <p class="title_section pt_sans_bold">DONATIONS INFORMATION</p>
          <div class="contact_info">
            <p class="name">Donations</p>
            <p class="direction"><%= @organization.donation_address %></p>
            <p class="telephone"><%= @organization.donation_phone_number %></p>
            <% if @organization.donation_website? %>
            <p class="telephone"><%= link_to(@organization.donation_website, @organization.donation_website, :class => 'mail') %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- BOTTOM CONTENT BLANK -->
    <div class="body_info grid">
      <div class="real_content bottom">
      </div>
    </div>
    <!-- BOTTOM IMG -->
    <div class="body_info_bottom"></div>
  </div>
</div>
<!-- left_info_organization -->

<div id="right_info_projects">
  <h3 class="pt_sans_bold shadow_white"><%= @organization.name.upcase %> LIST OF PROJECTS</h3>
  <div id="projects">
    <%= render :partial => 'projects' %>
  </div>
</div>