<div class="users_list">

  <% @users.each do |user| %>

    <div class="user">
      <%= link_to user.name.presence || '<No name>', edit_admin_user_path(user), :class => 'name' %>
      <div class="details">
        <%= user.email %><%= ", #{user.role}" if user.role.present? %>
        <%= user_organization_name(user) %>
        <div class="delete">
          <%= link_to '', '#', :method => :delete, :class => 'remove', :destroy_url => admin_user_path(user), :att_name => "user", :no_subtitle => true %>
        </div>
      </div>
    </div>

  <% end %>

</div>

