<% if current_user.admin? -%>
  <div class="main_layout">
    <div class="block">
      <div class="one">
        <p class="museo_sans"><%= number_with_delimiter(Project.count) %></p>
        <a href="<%= admin_projects_path %>" class="museo_sans"><%= pluralize(Project.count, 'project', 'projects') %> published</a>
        <p class="info museo_sans"><strong><%= Project.where("created_at > '#{Date.today.beginning_of_month.to_s(:db)}'").count %> new</strong> this month</p>
      </div>
      <div class="one">
        <p class="museo_sans"><%= number_with_delimiter(Organization.count) %></p>
        <a href="<%= admin_organizations_path %>" class="museo_sans"><%= pluralize(Organization.count, 'organization', 'organizations') %> in our database</a>
        <p class="info museo_sans"><strong><%= Organization.where("created_at > '#{Date.today.beginning_of_month.to_s(:db)}'").count %> new</strong> this month</p>
      </div>
      <div class="one last">
        <p class="museo_sans"><%= number_with_delimiter(@changes_last_day_count) %></p>
        <a href="<%= admin_activity_path %>" class="museo_sans"><%= pluralize(@changes_last_day_count, 'non-InterAction update in 24h', 'non-InterAction updates in 24h') %></a>
        <p class="info museo_sans"><strong><%= @changes_count %></strong> in total</p>
      </div>
    </div>

    <%= render :partial => 'admin/sites/site', :collection => Site.all %>

    <div class="add_new">
      <a href="<%= new_admin_site_path %>">Add a new site<br/><strong>You already have <%= pluralize(Site.count, 'site', 'sites') %> created</strong></a>
    </div>
  </div>
<% else -%>
  <%= render 'ngo_info_boxes' %>
<% end -%>
