  <div id="pages">
    <div class="left" id="relative_content">
      <div class="outer_head">
        <div class="head">
          <h1>About NGO Aid Map</h1>
        </div>
      </div>
      <div class="body">
        <p>NGO Aid Map is an InterAction initiative focused on collecting information on NGOs' work at the project level and making it accessible to donors, NGOs, businesses, governments and the public through an online, interactive mapping tool. The site, which primarily focuses on the work of InterAction members, aims to:</p>
        <ul>
          <li>Promote transparency</li>
          <li>Facilitate partnerships and improve coordination</li>
          <li>Help guide decisions about where to direct aid resources</li>
          <li>Inform advocacy and influence policy</li>
        </ul>
        <p>Best practices are highlighted in select areas, allowing for information sharing on effective approaches.</p>
        <p>We welcome your feedback and suggestions on NGO Aid Map.  Please email us at <a href="mailto:mappinginfo@interaction.org">mappinginfo@interaction.org</a>.
        </p>
        <h3>FOCUS AREAS</h3>
        <p>Our mapping work is currently focused on:</p>
        <p><a href="http://foodsecurity.ngoaidmap.org">Food Security</a>: With funding from the International Fund for Agricultural Development (IFAD), InterAction has developed Food Security Aid Map to provide detailed project-level information on food security and agriculture projects being done by NGOs and the US NGO Working Group on IFAD and Rural Poverty.</p>
        <p><a href="http://haiti.ngoaidmap.org">Haiti</a>: Since the earthquake in January 2010, InterAction, in partnership with BCLC and with funding from FedEx, has developed a web-based mapping platform to highlight NGOs programs in Haiti.  InterAction has been working closely with its members to develop a data collection system that is flexible and can be deployed in future emergencies.</p>
        <p><a href="http://hornofafrica.ngoaidmap.org">Horn of Africa</a>: In response to the drought crises, InterAction, with funding from FedEx, developed Horn of Africa Aid Map. The map highlights the work of members responding to the crisis, as well as long-term development projects that build resiliency against future crises.</p>
        
        
        <h3>BENEFITS OF PARTICIPATING</h3>
        <p>InterAction members who participate in the mapping initiative will have access to a powerful, user-friendly mapping software, <a href="http://www.fortiusone.com/Products-Services/GeoIQ">GeoIQ</a>, at no cost. With this tool, members will be able to:</p>
        <ul>
          <li>Create maps and easily share them with others</li>
          <li>Identify potential partners</li>
          <li>Identify underserved areas or areas with greatest needs</li>
          <li>Overlay project information with relevant statistical information, such as child malnutrition rates</li>
          <li>Analyze large amounts of data</li>
        </ul>
        <h3>HOW TO GET INVOLVED</h3>
        <p>For more information on the mapping initiative, including how your organization can participate, please contact Danielle Heiberg at <a href="mailto:mappinginfo@interaction.org">mappinginfo@interaction.org</a> or 202-552-6576.</p>
        <br/><br/>
        <%= link_to image_tag('sites/partners/ifad.jpg',:alt=>"IFAD", :title=>"IFAD"), "http://www.ifad.org/", :target=>"_blank", :style=>"margin:0 50px 0 0" %>
        <%= link_to image_tag('sites/partners/bclc.jpg',:alt=>"BCLC", :title=>"BCLC"), "http://bclc.uschamber.com/", :target=>"_blank", :style=>"margin:0 50px 0 0" %>
        <%= link_to image_tag('sites/partners/fedex.jpg',:alt=>"FexEx", :title=>"FexEx"), "http://fedex.com/", :target=>"_blank" %>

        <h3 id="credits">CREDITS</h3>
        <p>Food Security Aid Map photo was provided by Tony Rinaudo, <%= link_to 'World Vision Australia', 'http://www.worldvision.com.au/' %>.</p>
        <p>Haiti Aid Map photo was provided by Jon Warren, <%= link_to 'World Vision', 'http://www.worldvision.org' %>.</p>
        <p>Horn of Africa photo was provided by UN/Stuart Price, <%= link_to 'World Humanitarian Day', 'http://www.un.org/en/events/humanitarianday/slideshow.shtml' %>.</p>

      </div>
    </div>
    <div class="right">
      <div class="block">
          <h2>ABOUT</h2>
          <ul>
            <li class="page">About NGO Aid Map</li>
            <li class="page"><a href="/about-interaction">About InterAction</a></li>
            <li class="page"><a href="/about-data">About the data</li>
            <li class="page"><a href="/media">NGO Aid Map in the media</a></li>
            <li class="page"><a href="/testimonials">Testimonials</a></li>              
            <li class="page"><a href="/link-ngo-aid-map">Link to NGO Aid Map</a></li>
            <li class="page"><a href="/make-your-own-map">Make your own map</li>
            <li class="page"><a href="/faq">Frequently asked questions</a></li>
            <li class="page"><a href="/contact">Contact us</a></li>
          </ul>
      </div>
  </div>