<!DOCTYPE html>
<html>
<head>
  <title>Iom</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min', 'jquery.ui.core', 'jquery.ui.widget', 'jquery.ui.position', 'jquery.ui.autocomplete', 'rails', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="header">
  <% if logged_in? %>
    <%= link_to('logout', logout_path) %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
