<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" href="http://www.interaction.org/sites/default/files/interaction_favicon_0.png" type="image/png" />
    <%=raw(javascript_include_merged(:base)) %>
    <%=raw(javascript_include_merged(:base_2)) %>
    <%=raw(stylesheet_link_merged(:base)) %>
    <%=stylesheet_link_tag @site.theme.css_file if @site.theme %>
    <style>
      body {background: none;}
      #maker_map_41 {width: 100%; height: 467px;}
    </style>
  </head>
  <body>
    <div id="map" class="home"></div>
    <a href="#zoom_in" id="zoomIn" onclick="zoomIn()"></a>
    <a href="#zoom_out" id="zoomOut" onclick="zoomOut()"></a>
    <div class="map_style">
      <p>PLAIN</p>
      <ul>
        <li><a id="plain_map" href="#plain">PLAIN</a></li>
        <li><a id="satellite_map" href="#satellite">SATELLITE</a></li>
      </ul>
    </div>
    <script type="text/javascript">
      <% if @overview_map_bbox %>
      var bbox = <%=raw(@overview_map_bbox.to_json)%>;
      <% end %>
      var MAP_EMBED = true;
      <% if @site.overview_map_lat && @site.overview_map_lon %>
      var map_center = [<%= @site.overview_map_lat %>, <%= @site.overview_map_lon %>];
      <% else %>
      var map_center = [];
      <% end %>
      var map_zoom = <%= @site.overview_map_zoom %>;
      var chco = "<%=@overview_map_chco%>";
      var chf = "<%=@overview_map_chf%>";
      var chld = "<%=@chld%>";
      var chd = "<%=@chd%>";
      var marker_source = "<%=@georegion_map_marker_source%>";
      var map_data = <%=raw(@map_data)%>;
      var max_count = <%=@map_data_max_count%>;
      var map_type = '<%= @map_type || 'overview_map' %>';
      var theme = "<%=@site.theme_id%>";
      var stylez = <%=raw @site.map_styles  %>
    </script>

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&amp;v=3.3"></script>
    <% if controller_name == 'georegion' %>
      <% if @area.is_a?(Country) && @site.navigate_by_regions? %>
      <%=raw(javascript_include_merged(:georegion_overview_map_show)) %>
      <% else %>
      <%=raw(javascript_include_merged(:georegion_show)) %>
      <% end %>
    <% else %>
      <%=raw(javascript_include_merged(:sites_home)) %>
    <% end %>
  </body>
</html>
