<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <%=raw(javascript_include_merged(:base)) %>
  <%=raw(javascript_include_merged(:base_2)) %>
  <%=raw(stylesheet_link_merged(:base)) %>
  <%=stylesheet_link_tag @site.theme.css_file if @site.theme %>
  <%=auto_discovery_link_tag(:rss, "#{url(@site)}/.xml", {:title => @site.name}) %>
  <link rel="shortcut icon" href="/images/favicon.ico"/>



  <% if Rails.env.production? %>
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<%= @site.google_analytics_id %>']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
  <% end %>
</head>
<body>

  <% unless action_name == 'home' && controller_name == 'sites' %>
    <% cache("#{@site.id}/home/menu") do %>
      <%= render :partial => 'shared/menu' %>
    <% end %>
  <% end %>

  <div id="outer_layout">

    <%= yield %> <!-- Main layout has to content <div id="layout"> -->

    </div>

    <% if controller_name == 'sites' && action_name == 'home'%>
      <%= render :partial => 'shared/footer_home' %>
    <% else %>
      <%= render :partial => 'shared/footer_general' %>
    <% end %>

  </div>
  <%= yield :js %>
</body>
</html>
