<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%=raw(javascript_include_merged(:base)) %>
  <%=raw(javascript_include_merged(:base_2)) %>
  <%=raw(stylesheet_link_merged(:base)) %>
  <%=stylesheet_link_tag @site.theme.css_file if @site.theme %>
  <link rel="shortcut icon" href="/images/favicon.ico"/>

  <% if Rails.env.production? %>
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<%= @site.google_analytics_id %>']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
  <% end %>
</head>
<body>

  <% unless action_name == 'home' && controller_name == 'sites' %>
    <% cache("#{@site.id}/home/menu") do %>
      <%= render :partial => 'shared/menu' %>
    <% end %>
  <% end %>

  <div id="outer_layout">

    <%= yield %> <!-- Main layout has to content <div id="layout"> -->

    <!-- FOOTERS -->
      <div id="footer_pages">
        <div class="left">
          <a href="http://www.interaction.org/" class="logo"></a>
          <div class="project">
            <p class="site_name"><%= link_to @site.name, url(@site) %> is a sub-site of <%= link_to 'NGO Aid Map', "http://#{Settings.main_site_host}" %></p>
            <p class="all_rights">© <a class="link interaction" href="http://www.interaction.org/">InterAction</a> 2011. <!-- Sponsored by <a class="link fedex" href="">FedEx</a>.--> Developed by <a class="link" href="http://www.vizzuality.com/">Vizzuality</a></p>
          </div>
        </div>
        <div class="right">
          <ul>
            <% if Page.contact(@site)%>
            <li><a href="<%= page_path(Page.contact(@site)) %>">Contact</a></li>
            <li>|</li>
            <% end %>
            <li><%= link_to 'Link this site', "http://#{Settings.main_site_host}/link-ngo-aid-map" %></li>
            <li>|</li>
            <li><%= link_to 'Make your own map', "http://#{Settings.main_site_host}/make-your-own-map"%></li>
            <li>|</li>

            <% if Page.make_your_map(@site)%>
            <li><a href="<%= page_path(Page.make_your_map(@site)) %>">Make your map</a></li>
            <li>|</li>
            <% end %>
            <% if Page.about(@site)%>
            <li><a href="<%= page_path(Page.about(@site)) %>">About</a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%= yield :js %>
</body>
</html>