<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>

  <%= javascript_include_tag 'jquery.min', 'jquery.ui.core', 'jquery.ui.widget', 'jquery.ui.position', 'plugins/jquery.mousewheel.js','plugins/jquery.jscrollpane.js','plugins/quicksilver.js','plugins/jquery.livesearch.js', 'rails.js','sites/application.js' %>

  <%= stylesheet_link_tag '/stylesheets/sites/jscroll.css','/stylesheets/sites/layout.css' %>
  <%= stylesheet_link_tag @site.theme.css_file if @site.theme %>

  <link rel="shortcut icon" href="/images/favicon.ico"/>
</head>
<body>


  <%unless action_name == 'home' && controller_name == 'sites' %>
    <!-- div id="header" -->
    <%= render :partial => 'shared/menu' %>
  <%end%>
  <div id="outer_layout">

    <%= yield %> <!-- Main layout has to content <div id="layout"> -->

    <!-- FOOTERS -->
    <% if controller_name == 'pages' || controller_name == 'search' || controller_name == 'donors' %>
      <div id="footer_pages">
        <div class="left">
          <div class="project">
            <h1><a href="<%= @site %>"><%= @site.name %></a></h1>
            <p class="all_rights">A project by Interaction 2010. All rights reserved.</p>
          </div>
          <div class="links">
            <ul>
              <li><a href="<%= page_path(Page.contact(@site)) %>">contact us</a></li>
              <li>/</li>
              <li><a href="<%= page_path(Page.about(@site)) %>">About the project</a></li>
            </ul>
          </div>
        </div>
        <div class="right">
          <a class="logo"></a>
        </div>
      </div>
    <% else %>
      <div id="footer">
        <div class="left">
          <a class="logo"></a>
        </div>
        <div class="right">
          <div class="project">
            <h1><%= @site.name %></h1>
            <p class="all_rights">A project by Interaction 2010. All rights reserved.</p>
          </div>
          <div class="links">
            <ul>
              <li><a href="<%= page_path(Page.contact(@site)) %>">contact us</a></li>
              <li>/</li>
              <li><a href="<%= page_path(Page.about(@site)) %>">About the project</a></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <%=yield :js %>
</body>
</html>