<!DOCTYPE html>
<html>
<head>
  <title><%= @site.name %></title>
  <%= javascript_include_tag 'http://geocommons.com/javascripts/f1.api.js','/javascripts/sites/map.js','/javascripts/plugins/fonts/cufon_yui.js','/javascripts/plugins/fonts/PT_Sans.js','/javascripts/plugins/fonts/Geneva.js','/javascripts/plugins/fonts/Aller.js' %>

  <%= stylesheet_link_tag '/stylesheets/sites/layout.css' %>

  <!-- TO ENABLE TYPEKIT -->
  <!-- <script type="text/javascript" src="http://use.typekit.com/loh6bqm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script> -->



</head>
<body  onload="initialize()">
  <div id="outer_header">
    <div id="inner_header">
      <div id="header">
        <div class="left">
          <h1 class="geneva"><%= @site.name %></h1>
          <ul class="menu">
            <li><a href="#" class="geneva">CLUSTERS<span class="with_suboptions"></span></a></li>
            <li><a href="#" class="geneva">REGIONS<span class="with_suboptions"></span></a></li>
            <li><a href="#" class="geneva">NGOs<span class="with_suboptions"></span></a></li>
            <li><a href="#" class="geneva">ANALYSIS</a></li>
            <li><a href="#" class="geneva">ABOUT</a></li>
          </ul>
        </div>
        <!-- div left menu -->

        <div class="right">
          <form class="search">
            <span class="input_search">
              <input type="text" value="Search..." onclick="this.value=''"/>
              <input type="submit" value="" />
            </span>
          </form>
        </div>
        <!-- div right menu -->
      </div>
    </div>
    <!-- inner header -->
  </div>
  <!-- div outer_header -->

  <div id="outer_layout">
    <div id="map"></div>

    <div id="layout">

      <%= yield %>

      <div id="footer">
        <div class="left">
          <a class="logo"></a>
        </div>
        <div class="right">
          <p class="copy_info pt_sans_bold"><%= @site.name %></p>
          <p class="all_rights pt_sans">A project by Interaction 2010. All rigths reserved.</p>
          <div class="links">
            <a class="pt_sans" href="#">contact us</a><p>/</p><a class="pt_sans" href="#">About the project</a>
          </div>
        </div>
      </div>
    </div>
    <!-- layout -->
  </div>
</body>
</html>