<%= form_for(@site, :url => admin_site_path(@site), :html => { :multipart => true }) do |f| %>

  <div class="common">
    <h3>SITE CUSTOMIZATION</h3>

    <%= f.label :logo %>
    <div class="image_container">
      <% if @site.logo_file_name? %>
        <%= image_tag(@site.logo.url(:small)) %>
      <% end -%>
      <div class="field">
        <p>JPG, PNG and GIF supported</p>
        <div id="bttn_upload">
          <a class="upload_bttn"></a>
          <div id="wrapper_input">
            <%= f.file_field :logo %>
          </div>
        </div>
        <% if @site.logo_file_name? %>
          <p class="remove_link"> or <%= link_to('remove', destroy_logo_admin_site_path(@site), :method => :put, :class => 'remove') %></p>
         <% else %>
            <p class="message remove_link">Select a file from your computer</p>
        <%end%>
      </div>
    </div>

    <%= f.label :theme %>
    <ul class="themes">
      <% Theme.all.each_with_index do |theme, i| %>
      <li rel="<%= theme.id %>" class="<%='selected' if i == 0 %> <%= 'last' if i == Theme.count - 1 %>">
        <img src="<%= theme.thumbnail_path %>" width="157" height="135" alt="<%= theme.name %>">
        <a class="preview" href="<%= url(@site) %><%= project_path %>?theme_id=<%= theme.id %>">PREVIEW</a>
        <span class="ready"></span>
      </li>
      <% end %>
    </ul>

    <%= f.label "SITE IMAGE FOR NGO AID MAP SITE" %>

    <div class="image_container">
      <% if @site.aid_map_image_file_name? %>
        <%= image_tag(@site.aid_map_image.url(:small)) %>
      <% end -%>
      <div class="field">
        <p>JPG, PNG and GIF supported</p>
        <div id="bttn_upload">
          <a class="upload_bttn"></a>
          <div id="wrapper_input">
            <%= f.file_field :aid_map_image %>
          </div>
        </div>
        <% if @site.aid_map_image_file_name? %>
          <p class="remove_link"> or <%= link_to('remove', destroy_aid_map_image_admin_site_path(@site), :method => :put, :class => 'remove') %></p>
         <% else %>
          <p class="message remove_link">Select a file from your computer</p>
        <% end %>
      </div>
    </div>

  </div>

  <div class="common">
    <h3>Partners</h3>
    <label>PARTNERS LIST</label>
    <% unless @site.partners.empty? %>
      <% @site.partners.each do |partner| %>
        <div class="partner">
          <%= image_tag(partner.logo.url(:small)) %>
          <p><%= partner.name %></p>
          <p class="bottom"><%= link_to(partner.url, partner.url) %></p>
          <%= link_to('Delete', '#delete', :class => "delete", :destroy_url=>admin_site_partner_path(@site, partner), :att_name => "partner") %>
        </div>
      <% end -%>
    <% end -%>

    <span class="add_partner"><p>Add / edit the partners of the site</p><%= link_to('Add a partner', '#', :class => 'manage_partners') %></span>
  </div>

  <div class="common">
    <h3>Map configuration</h3>
    <p class="map">SITE VIEW PORT  Pan and zoom the map for selecting the preferred position</p>
    <div class="outer_map">
      <div id="map"></div>
      <a href="#zoom_in" id="zoomIn" onclick="zoomIn()"></a>
      <a href="#zoom_out" id="zoomOut" onclick="zoomOut()"></a>
    </div>
    <%= f.hidden_field :overview_map_bbox_minx, :style => 'display:none', :value => (@site.overview_map_bbox_minx || "") %>
    <%= f.hidden_field :overview_map_bbox_maxx, :style => 'display:none', :value => (@site.overview_map_bbox_maxx || "") %>
    <%= f.hidden_field :overview_map_bbox_miny, :style => 'display:none', :value => (@site.overview_map_bbox_miny || "") %>
    <%= f.hidden_field :overview_map_bbox_maxy, :style => 'display:none', :value => (@site.overview_map_bbox_maxy || "") %>
  </div>


  <div class="common">
    <h3>Site navigation</h3>
    <label>Projects classification</label>
    <%= f.hidden_field :project_classification , :value => '0' %>
    <div id="classification_option" class="field">
      <span>
        <a id="0" class="combo clicked">Cluster</a>
      </span>
      <span>
      <a id="1" class="combo">Sector</a>
      </span>
    </div>
  </div>

  <div class="common">
    <h3>Fields & sections visibility</h3>
    <label>Configurable fields & sections</label>

    <div class="field">
      <span class="blog">
        <%= f.check_box :show_blog %><p>Show blog</p>
        <div id="tumbler_id" style="<%= (@site.blog_url.blank? ? 'display:none' : 'display:block') %>">
          <%= f.text_field :blog_url, :value=>"Please write Tumblr ID", :id=>"tumblr" %>
        </div>
      </span>
      <span>
        <%= f.check_box :show_global_donations_raises %><p>Show global donations raises</p>
      </span>
    </div>
  </div>

  <div class="common">
    <h3>NAMING</h3>
    <div class="field">
      <%= f.label :word_for_clusters, "Word for clusters / sectors" %>
      <%= f.text_field :word_for_clusters, :class=>"short" %>
    </div>
    <div class="field">
      <%= f.label :word_for_regions %>
      <%= f.text_field :word_for_regions, :class=>"short" %>
    </div>
  </div>

  <div class="common">
    <h3>GEOGRAPHIC NAVIGATION</h3>
    <div class="field">
      <span>
        <%= f.check_box :navigate_by_country %><p>Navigate by country</p>
      </span>
    </div>
    <div class="field">
      <span>
        <%= f.check_box :navigate_by_level1 %><p>Navigate by regions of level 1</p>
      </span>
    </div>
    <div class="field">
      <span>
        <%= f.check_box :navigate_by_level2 %><p>Navigate by regions of level 2</p>
      </span>
    </div>
    <div class="field">
      <span>
        <%= f.check_box :navigate_by_level3 %><p>Navigate by regions of level 3</p>
      </span>
    </div>
  </div>

  <%= f.hidden_field :theme_id, :value => Theme.first.id %>
  <input type="hidden" name="customization" value="true" />

  <%= f.submit 'Save' %>

<% end -%>



<div id="manage_partners" style="<%= @partner ? 'display:block' : 'display:none' %>">
  <a class="close">Close</a>
  <% unless @partner %>
  <h3 class="museo_sans">New partner</h3>
  <% else %>
  <h3 class="museo_sans">Edit partner</h3>
  <% end -%>

  <%= form_for([:admin, @site, (@partner || @site.partners.new)], :html => { :multipart => true }) do |f| %>

    <div class="short_field">
      <%= f.label :name %>
      <%= f.text_field :name, :class=>"short" %>
    </div>

    <div class="short_field">
      <%= f.label :url %>
      <%= f.text_field :url, :class=>"short" %>
    </div>

    <div class="field">
      <%= f.label :logo %>
      <div class="image_container">
        <span class="white"></span>
        <p>JPG, PNG and GIF supported</p>
        <%= f.file_field :logo %>
      </div>
    </div>

    <div class="field">
      <%= f.submit 'Add partner', :class=>"partner" %>
    </div>

  <% end -%>
</div>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="/javascripts/backoffice/customize.js" type="text/javascript" charset="utf-8"></script>
