
  <ul>
    <li <%= selected_if_current_page(edit_admin_site_path(@site)) %>>
      <%= link_to('Basic information', edit_admin_site_path(@site)) %>
    </li>
    <li <%= selected_if_current_page(customization_admin_site_path(@site)) %>>
      <%= link_to('Customization', customization_admin_site_path(@site)) %>
    </li>
    <li <%= selected_if_current_page(projects_admin_site_path(@site)) %>>
      <%= link_to("Site projects", projects_admin_site_path(@site)) %><% if !@site.total_projects!=0 %> <p><span><%=@site.total_projects%></span></p><% end %></li>
    <li <%= selected_if_current_page(admin_site_media_resources_path(@site)) %>>
      <%= link_to("Media", admin_site_media_resources_path(@site)) %><% if !@site.media_resources.empty? %>   <p><span><%=@site.media_resources.count%></span></p><% end %></li>
    <li <%= selected_if_current_page(admin_site_resources_path(@site)) %>>
      <%= link_to("Resources", admin_site_resources_path(@site)) %><% if !@site.resources.empty? %> <p><span><%=@site.resources.count%></span></p><% end %></li>
    <li <%= selected_if_current_page(admin_site_pages_path(@site)) %>>
      <div class="bottom_selected">
        <%= link_to("Pages", admin_site_pages_path(@site), :class=>"basic") %><% if @site.pages.present? && controller_name != 'pages' %> <p><span><%=@site.pages.count%></span></p><% end %>
        <% if controller_name == 'pages' %>
         <span class="list">
           <% @site.pages.highlighted.each do |highlighted_page| %>
            <p class="<%= 'no' if current_page?(edit_admin_site_page_path(@site, highlighted_page.id)) %>">
              <%= link_to_unless_current(highlighted_page.title, edit_admin_site_page_path(@site, highlighted_page.id)) %>
            </p>
            <% if current_page?(edit_admin_site_page_path(@site, highlighted_page.id)) && highlighted_page.children.present? %>
              <% highlighted_page.children do |child_page| %>
                <p class="sublist <%= 'no' if current_page?(edit_admin_site_page_path(@site, highlighted_page.id)) %>">
                  <%= link_to_unless_current(child_page.title, edit_admin_site_page_path(@site, child_page.id)) %>
                </p>
              <% end %>
            <% end %>
           <% end %>
         </span>
        <% end %>
      </div>
    </li>

  </ul>


  <div class="delete">
    <h5 class="museo_sans">DELETE THIS SITE</h5>
    <p>Clicking the button below you will delete permanently this site. Please take care of the domain that was pointing to this site.</p>
    <%= link_to("Delete this SITE", '#', :destroy_url => admin_site_path(@site), :att_name => 'Site') %>
  </div>
