
  <ul>
    <% if @site.present? -%>
    <li <%= selected_if_current_page(edit_admin_site_path(@site)) %>>
      <%= link_to('Basic information', edit_admin_site_path(@site)) %>
    </li>
    <li <%= selected_if_current_page(customization_admin_site_path(@site)) %>>
      <%= link_to('Customization', customization_admin_site_path(@site)) %>
    </li>
    <li <%= selected_if_current_page(projects_admin_site_path(@site)) %>>
      <%= link_to("Site projects", projects_admin_site_path(@site)) %><% if !@site.total_projects!=0 %> <p><span><%=@site.total_projects%></span></p><% end %></li>
    <% end -%>
    <li <%= selected_if_current_page(pages_path_for_home_or_site) %>>
      <div class="bottom_selected">
        <%= link_to("Pages", pages_path_for_home_or_site, :class=>"basic") %><% if @site.present? && @site.pages.present? && controller_name != 'pages' %> <p><span><%=@site.pages.count%></span></p><% end %>
        <% if controller_name == 'pages' %>
         <span class="list">
           <% @all_pages.each do |highlighted_page| %>
            <p class="<%= 'no' if current_page?(edit_page_path_for_home_or_site(highlighted_page)) %>">
              <%= link_to_unless_current(highlighted_page.title, edit_page_path_for_home_or_site(highlighted_page)) %>
            </p>
            <% if highlighted_page.children.any? %>
              <% highlighted_page.children.each do |child_page| %>
                <p class="sublist">
                  <%= link_to(child_page.title, edit_page_path_for_home_or_site(child_page)) %>
                </p>
              <% end %>
            <% end %>
           <% end %>
         </span>
        <% end %>
      </div>
    </li>

  </ul>

  <% if @site.present? -%>
    <div class="delete">
      <h5 class="museo_sans">DELETE THIS SITE</h5>
      <p>Clicking the button below you will delete permanently this site. Please take care of the domain that was pointing to this site.</p>
      <%= link_to("Delete this SITE", '#', :destroy_url => admin_site_path(@site), :att_name => 'Site') %>
    </div>
  <% end -%>
