
  <div class="main_layout">
    <div class="block first donor_funded">
      <div class="top"></div>
      <div class="med">
        <div class="left">
          <h2 class="museo_sans"><%= @site.name %></h2>
          <p><%= pluralize(@site.total_projects, 'project', 'projects') %> active within this site</p>
          <% unless @projects.empty? %>
            <ul>
              <% @projects.each do |project| %>
              <li>
                <span class="first">
                  <h3><%= link_to( truncate(project.name,:length=>47), edit_admin_project_path(project)) %></h3>
                  <p class="<%= project.finished? ? 'closed' : 'active' %>"><%= project.finished? ? 'Closed' : 'Active' %></p>
                </span>
                <p class="<%= !project.finished? ? 'more' : '' %>"><%= link_to(project.primary_organization.name, edit_admin_organization_path(project.primary_organization)) %></p>
              </li>
              <% end -%>
            </ul>
          <% end -%>
        </div>
        <div class="right menu">
          <%= render 'admin/sites/sidebar' %>
        </div>
      </div>
      <div class="bottom_grey paginate">
        <%= will_paginate(@projects) %>
      </div>
    </div>

    <div class="add_new">
      <a href="<%= new_admin_project_path %>">
        Add new project<br/>
        <strong>Adding a project to this site, you will be adding it to the global database</strong>
      </a>
    </div>

  </div>

  <script src="/javascripts/backoffice/application.js" type="text/javascript" charset="utf-8"></script>