
  <div class="main_layout">
    <div class="block">
      <div class="long_search">
        <span class="top"></span>
        <div class="content padding">
          <%= form_tag(admin_donors_path, :method => :get, :class => :search) do %>
            <label>SEARCH BY TEXT</label>
            <input type="text" value="<%= params[:q] || 'Search donors by name, place,...'%>" name="q" class="main_search" />
            <input type="submit" value=""  />
          <% end %>
        </div>
        <span class="bottom"></span>
      </div>
    </div>

    <div class="block">
      <div class="top"></div>
      <div class="med donors_list">
        <% unless @donors.empty? %>
          <div class="header no_border">
            <h2><%= pluralize(@donors.total_entries, 'donor', 'donors') %> supporting projects
              <% if params[:q] %>
              on <a class="remove" href="<%= admin_donors_path %>"><%= params[:q] %></a>
              <% end %>
            </h2>
            <span class="buttons">
              <a class="add_project museo_sans shadow_green" href="<%= new_admin_donor_path %>">New donor</a>
            </span>
          </div>
          <ul>
            <% @donors.each do |donor| %>
              <li>
                <h3><%= link_to(truncate(donor.name,:length=>60), edit_admin_donor_path(donor)) %></h3>
                <p class="red"><a href="<%= projects_admin_donor_path(donor) %>"><%= pluralize(donor.donations.count, 'donation', 'donations') %></a></p>
                <% if (donor.donations.count > 0) %>
                    <p>$<%= number_with_delimiter(donor.donations_amount) %></p>
                <% end %>
                <% if donor.website? %>
                <p class="red"><a href="<%= donor.website %>" target="_blank">Visit donor site</a></p>
                <% end %>
              </li>
            <% end -%>
          </ul>
        <% else %>
          <% if Donor.count>1 %>
            <div class="no_results">
              <h2>There are not donors for your search</h2>
              <p>Try to search with different terms or simply <a href="<%= admin_donors_path %>">browse all donors</a>.</p>
            </div>
          <% else %>
            <div class="no_results">
              <h2>There are not donors in the site</h2>
              <p>Try to <a href="/admin/donors/new">add new one</a>.</p>
            </div>
          <% end %>
        <% end -%>
      </div>
      <div class="bottom_grey paginate">
        <%= will_paginate(@donors) %>
      </div>
    </div>

    <div class="add_new">
      <a href="<%= new_admin_donor_path %>" class="museo_sans">
        Add a new donor<br/>
        <strong>There are already <%= pluralize(Donor.count, 'donor', 'donors') %> registered</strong>
      </a>
    </div>
  </div>

  <script src="/javascripts/backoffice/application.js" type="text/javascript" charset="utf-8"></script>
