<div class="main_layout">
  <div class="block first donor_funded">
    <div class="top"></div>
    <div class="med">
      <div class="left">
        <h2 class="museo_sans"><%= @donor.name.html_safe %></h2>

        <p><%= pluralize(@donor.all_donated_projects.count, ' funded project', 'funded projects') %></p>
        <% unless @donor.all_donated_projects.empty? %>
          <ul>
            <% @donor.all_donated_projects.each do |project| %>
            <li>
              <span class="first">
                <h3><%= link_to(truncate(project.name, :length => 43), edit_admin_project_path(project), :title => project.name) %></h3>
                <p class="<%= project.finished? ? 'closed' : 'active' %>"><%= project.finished? ? 'Closed' : 'Active' %></p>
              </span>
              <p>$<%= @donor.donations.where(:project_id => project.id).first.try(:amount) || 0 %></p>
            </li>
            <% end -%>
          </ul>
        <% end -%>
      </div>
      <div class="right menu" style="min-height: 300px;">
        <%= render 'admin/donors/sidebar' %>
      </div>
    </div>
    <div class="bottom"></div>
  </div>
  </div>
  <script src="/javascripts/backoffice/application.js" type="text/javascript" charset="utf-8"></script>
